In [1]:
# Nostradamus One: NTS Framework for all pairs.
import pandas as pd
import numpy as np

In [2]:
H1FullUsdChf_pd = pd.read_csv('datasets/2018-06-12-UsdChfH1_raw.csv')
H1FullUsdChf_pd

# Rename Columns to: Time, Open, High, Low, Close, Volume
H1FullUsdChf_pd.columns = ['Date', 'Time', 'Open','High','Low','Close', 'Vol']
# H1FullUsdChf_pd

H1FullUsdChf_pd = H1FullUsdChf_pd.set_index('Date')
# H1FullUsdChf_pd

In [3]:
T0000UsdChf_pd = H1FullUsdChf_pd [(H1FullUsdChf_pd['Time'] == '00:00')]
# T2100UsdChf_pd

T0700UsdChf_pd = H1FullUsdChf_pd [(H1FullUsdChf_pd['Time'] == '07:00')]
# T0400UsdChf_pd

In [4]:
T0700UsdChf_pd.columns = ['T07', 'OO7','H07','L07','C07', 'Volume']
T0000UsdChf_pd.columns = ['T00', 'O00','H00','L00','C00', 'Volume']

# Concatenate
T00x04UsdChf_pd = pd.concat([T0700UsdChf_pd, T0000UsdChf_pd], axis=1)

TableSummary01 = T00x04UsdChf_pd
# TableSummary01

/home/me/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """

In [5]:
D1FullUsdChf_pd = pd.read_csv('datasets/2018-06-12-UsdChfD1_raw.csv')
D1FullUsdChf_pd

# Rename Columns to: Time, Open, High, Low, Close, Volume
D1FullUsdChf_pd.columns = ['Date', 'Time', 'Open','High','Low','Close', 'Vol']
D1FullUsdChf_pd

# Drop columns
D1FullUsdChf_pd = D1FullUsdChf_pd.drop(['Time', 'Close', 'Open', 'Vol'], axis=1)

D1FullUsdChf_pd = D1FullUsdChf_pd.set_index('Date')
D1FullUsdChf_pd

H1xD1_pd = pd.concat([TableSummary01, D1FullUsdChf_pd], axis=1)
H1xD1_pd

# Remove NaN
H1xD1_pd = H1xD1_pd.dropna()
SummaryTable02 = H1xD1_pd

/home/me/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:14: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

In [6]:
# Change to Open 00 to Close 07
Calc0007= SummaryTable02['C07'] - SummaryTable02['O00']

Calc0007 = pd.DataFrame (Calc0007, columns = ['Calc'])
Calc0007 = Calc0007.reset_index()
Calc0007

BullOrBear = np.where (Calc0007 ['Calc'] > 0, 'bull', 'bear')
BullOrBear = pd.DataFrame (BullOrBear, columns = ['Bull / Bear'])
BullOrBear 

SummaryTable03 = pd.concat([Calc0007, BullOrBear], axis=1)

SummaryTable03.columns = ['Date', 'Calc','Bull/Bear']
SummaryTable03 = SummaryTable03.set_index('Date')

SummaryTable04 = pd.concat([SummaryTable03, SummaryTable02], axis=1)
SummaryTable04 = SummaryTable04.drop(['H07', 'L07', 'H00', 'L00', 'Volume'], axis=1)
SummaryTable04

,Calc,Bull/Bear,T07,OO7,C07,T00,O00,C00,High,Low
Date,,,,,,,,,,
2015.05.20,0.00010,bull,07:00,0.93620,0.93680,00:00,0.93670,0.93660,0.94020,0.93330
2015.05.21,-0.00270,bear,07:00,0.93380,0.93410,00:00,0.93680,0.93660,0.93790,0.93020
2015.05.22,-0.00140,bear,07:00,0.93470,0.93510,00:00,0.93650,0.93670,0.94530,0.92830
2015.05.25,-0.00070,bear,07:00,0.94250,0.94240,00:00,0.94310,0.94350,0.94530,0.94020
2015.05.26,0.00250,bull,07:00,0.94640,0.94710,00:00,0.94460,0.94500,0.95330,0.94460
2015.05.27,-0.00230,bear,07:00,0.95140,0.95090,00:00,0.95320,0.95300,0.95400,0.94630
2015.05.28,-0.00170,bear,07:00,0.94870,0.94740,00:00,0.94910,0.94990,0.95090,0.94150
2015.05.29,-0.00150,bear,07:00,0.94150,0.94150,00:00,0.94300,0.94300,0.94760,0.93450
2015.06.01,0.00190,bull,07:00,0.94200,0.94210,00:00,0.94020,0.93920,0.94810,0.93850
2015.06.02,-0.00150,bear,07:00,0.94430,0.94400,00:00,0.94550,0.94560,0.94660,0.93060
2015.06.03,0.00010,bull,07:00,0.93320,0.93270,00:00,0.93260,0.93280,0.94200,0.92990
2015.06.04,0.00060,bull,07:00,0.93390,0.93410,00:00,0.93350,0.93380,0.93680,0.92750
2015.06.05,0.00020,bull,07:00,0.93440,0.93340,00:00,0.93320,0.93370,0.94990,0.92960
2015.06.08,-0.00110,bear,07:00,0.94090,0.94110,00:00,0.94220,0.94050,0.94270,0.92540
2015.06.09,-0.00110,bear,07:00,0.92620,0.92640,00:00,0.92750,0.92740,0.93300,0.92440
2015.06.10,-0.00110,bear,07:00,0.93130,0.92920,00:00,0.93030,0.93080,0.93220,0.92300
2015.06.11,0.00180,bull,07:00,0.93260,0.93240,00:00,0.93060,0.93170,0.94050,0.92940
2015.06.12,0.00150,bull,07:00,0.93290,0.93390,00:00,0.93240,0.93350,0.93880,0.92380
2015.06.15,0.00150,bull,07:00,0.93150,0.93130,00:00,0.92980,0.92930,0.93810,0.92710
2015.06.16,0.00050,bull,07:00,0.92940,0.92950,00:00,0.92900,0.92970,0.93320,0.92690
2015.06.17,-0.00120,bear,07:00,0.93050,0.93070,00:00,0.93190,0.93200,0.93220,0.91940
2015.06.18,-0.00140,bear,07:00,0.92000,0.91980,00:00,0.92120,0.92180,0.92430,0.91470
2015.06.19,0.00050,bull,07:00,0.92070,0.92140,00:00,0.92090,0.92120,0.92460,0.91600
2015.06.22,-0.00040,bear,07:00,0.91710,0.91650,00:00,0.91690,0.91740,0.92230,0.91540
2015.06.23,0.00580,bull,07:00,0.92780,0.92720,00:00,0.92140,0.92120,0.93840,0.92070
2015.06.24,0.00010,bull,07:00,0.93270,0.93380,00:00,0.93370,0.93400,0.93660,0.92770
2015.06.25,-0.00040,bear,07:00,0.93310,0.93310,00:00,0.93350,0.93330,0.94120,0.93220
2015.06.26,-0.00020,bear,07:00,0.93560,0.93590,00:00,0.93610,0.93600,0.93710,0.92970
2015.06.29,0.00050,bull,07:00,0.93810,0.93850,00:00,0.93800,0.94020,0.94260,0.92400
2015.06.30,0.00560,bull,07:00,0.92950,0.93020,00:00,0.92460,0.92460,0.93780,0.92440
...,...,...,...,...,...,...,...,...,...,...
2018.05.01,0.00128,bull,07:00,0.99148,0.99177,00:00,0.99049,0.99050,0.99706,0.98988
2018.05.02,-0.00024,bear,07:00,0.99591,0.99608,00:00,0.99632,0.99640,1.00006,0.99373
2018.05.03,-0.00119,bear,07:00,0.99748,0.99711,00:00,0.99830,0.99835,0.99999,0.99565
2018.05.04,0.00056,bull,07:00,0.99749,0.99791,00:00,0.99735,0.99759,1.00237,0.99652
2018.05.07,-0.00037,bear,07:00,0.99923,0.99964,00:00,1.00001,1.00016,1.00571,0.99848
2018.05.08,0.00102,bull,07:00,1.00331,1.00345,00:00,1.00243,1.00288,1.00460,1.00038
2018.05.09,0.00147,bull,07:00,1.00335,1.00305,00:00,1.00158,1.00157,1.00564,1.00047
2018.05.10,-0.00115,bear,07:00,1.00441,1.00367,00:00,1.00482,1.00487,1.00577,0.99950
2018.05.11,0.00052,bull,07:00,1.00313,1.00319,00:00,1.00267,1.00265,1.00406,0.99775
2018.05.14,-0.00008,bear,07:00,0.99915,0.99996,00:00,1.00004,0.99957,1.00081,0.99585
2018.05.15,0.00137,bull,07:00,1.00074,1.00193,00:00,1.00056,1.00021,1.00424,0.99842
2018.05.16,-0.00083,bear,07:00,1.00005,1.00033,00:00,1.00116,1.00103,1.00191,0.99844
2018.05.17,-0.00113,bear,07:00,0.99933,0.99997,00:00,1.00110,1.00057,1.00335,0.99868
2018.05.18,-0.00026,bear,07:00,1.00084,1.00089,00:00,1.00115,1.00118,1.00184,0.99504
2018.05.21,0.00252,bull,07:00,0.99921,0.99925,00:00,0.99673,0.99745,1.00016,0.99669
2018.05.22,-0.00020,bear,07:00,0.99653,0.99684,00:00,0.99704,0.99680,0.99905,0.99180
2018.05.23,0.00004,bull,07:00,0.99263,0.99261,00:00,0.99257,0.99246,0.99783,0.98941
2018.05.24,-0.00232,bear,07:00,0.99375,0.99312,00:00,0.99544,0.99475,0.99565,0.98857
2018.05.25,0.00104,bull,07:00,0.99224,0.99223,00:00,0.99119,0.99067,0.99370,0.98900
2018.05.28,0.00001,bull,07:00,0.99177,0.99141,00:00,0.99140,0.99218,0.99580,0.99080
2018.05.29,-0.00023,bear,07:00,0.99259,0.99282,00:00,0.99305,0.99347,0.99834,0.98507
2018.05.30,0.00122,bull,07:00,0.99329,0.99251,00:00,0.99129,0.99072,0.99352,0.98787
2018.05.31,-0.00055,bear,07:00,0.98835,0.98829,00:00,0.98884,0.98901,0.98924,0.98263
2018.06.01,0.00238,bull,07:00,0.98768,0.98770,00:00,0.98532,0.98527,0.99117,0.98414
2018.06.04,-0.00059,bear,07:00,0.98734,0.98783,00:00,0.98842,0.98840,0.98937,0.98295
2018.06.05,0.00158,bull,07:00,0.98878,0.98898,00:00,0.98740,0.98783,0.98925,0.98296
2018.06.06,0.00112,bull,07:00,0.98434,0.98513,00:00,0.98401,0.98435,0.98851,0.98344
2018.06.07,-0.00139,bear,07:00,0.98615,0.98457,00:00,0.98596,0.98593,0.98660,0.97877
2018.06.08,0.00017,bull,07:00,0.98040,0.98039,00:00,0.98022,0.97984,0.98871,0.97916
2018.06.11,0.00092,bull,07:00,0.98536,0.98525,00:00,0.98433,0.98442,0.98734,0.98387

In [7]:
# If Buy or If Sell 
mDataPositionBuy = SummaryTable04 ['High'] - SummaryTable04 ['C07']
mDataPositionBuy_pd = pd.DataFrame (mDataPositionBuy, columns = ['If Buy Pos'])

mDataPositionSell = SummaryTable04 ['C07'] - SummaryTable04 ['Low']
mDataPositionSell_pd = pd.DataFrame (mDataPositionSell, columns = ['If Sell Pos'])

IfBuyIfSell_pd = pd.concat([mDataPositionBuy_pd, mDataPositionSell_pd], axis=1)
IfBuyIfSell_pd

TableSummary05 = pd.concat([IfBuyIfSell_pd, SummaryTable04], axis=1)
TableSummary05

TableSummary05 = TableSummary05.drop(['Calc', 'T07','High', 'Low'], axis=1)

TableSummary05 = TableSummary05.drop(['C00', 'OO7', 'C07', 'T00', 'O00'], axis=1)
TableSummary05

            If Buy Pos  If Sell Pos Bull/Bear
Date
2015.05.20     0.00340      0.00350      bull
2015.05.21     0.00380      0.00390      bear
2015.05.22     0.01020      0.00680      bear
2015.05.25     0.00290      0.00220      bear
2015.05.26     0.00620      0.00250      bull
2015.05.27     0.00310      0.00460      bear
2015.05.28     0.00350      0.00590      bear
2015.05.29     0.00610      0.00700      bear
2015.06.01     0.00600      0.00360      bull
2015.06.02     0.00260      0.01340      bear
2015.06.03     0.00930      0.00280      bull
2015.06.04     0.00270      0.00660      bull
2015.06.05     0.01650      0.00380      bull
2015.06.08     0.00160      0.01570      bear
2015.06.09     0.00660      0.00200      bear
2015.06.10     0.00300      0.00620      bear
2015.06.11     0.00810      0.00300      bull
2015.06.12     0.00490      0.01010      bull
2015.06.15     0.00680      0.00420      bull
2015.06.16     0.00370      0.00260      bull
2015.06.17     0.00150      0.01130      bear
2015.06.18     0.00450      0.00510      bear
2015.06.19     0.00320      0.00540      bull
2015.06.22     0.00580      0.00110      bear
2015.06.23     0.01120      0.00650      bull
2015.06.24     0.00280      0.00610      bull
2015.06.25     0.00810      0.00090      bear
2015.06.26     0.00120      0.00620      bear
2015.06.29     0.00410      0.01450      bull
2015.06.30     0.00760      0.00580      bull
...                ...          ...       ...
2018.05.01     0.00529      0.00189      bull
2018.05.02     0.00398      0.00235      bear
2018.05.03     0.00288      0.00146      bear
2018.05.04     0.00446      0.00139      bull
2018.05.07     0.00607      0.00116      bear
2018.05.08     0.00115      0.00307      bull
2018.05.09     0.00259      0.00258      bull
2018.05.10     0.00210      0.00417      bear
2018.05.11     0.00087      0.00544      bull
2018.05.14     0.00085      0.00411      bear
2018.05.15     0.00231      0.00351      bull
2018.05.16     0.00158      0.00189      bear
2018.05.17     0.00338      0.00129      bear
2018.05.18     0.00095      0.00585      bear
2018.05.21     0.00091      0.00256      bull
2018.05.22     0.00221      0.00504      bear
2018.05.23     0.00522      0.00320      bull
2018.05.24     0.00253      0.00455      bear
2018.05.25     0.00147      0.00323      bull
2018.05.28     0.00439      0.00061      bull
2018.05.29     0.00552      0.00775      bear
2018.05.30     0.00101      0.00464      bull
2018.05.31     0.00095      0.00566      bear
2018.06.01     0.00347      0.00356      bull
2018.06.04     0.00154      0.00488      bear
2018.06.05     0.00027      0.00602      bull
2018.06.06     0.00338      0.00169      bull
2018.06.07     0.00203      0.00580      bear
2018.06.08     0.00832      0.00123      bull
2018.06.11     0.00209      0.00138      bull

[793 rows x 3 columns]

In [8]:
# ** Capture all bull and capture all bear

tableForBuyEntry_pd = TableSummary05[(TableSummary05['Bull/Bear'] == 'bull')]
tableForSellEntry_pd = TableSummary05[(TableSummary05['Bull/Bear'] == 'bear')]

In [9]:
# For buy position result
BuyPosSubResult = np.where (tableForBuyEntry_pd ['If Buy Pos'] > 0.0008, 'Success', 'Fail')
BuyPosSubResult_pd = pd.DataFrame (BuyPosSubResult, columns = ['Buy Result'])
BuyPosSubResult_pd  

# Convert To Numpy 
BuyPosSubResult_np = BuyPosSubResult_pd.values
BuyPosSubResult_pd

# Count Contents
countTotalResultForBuy = len(BuyPosSubResult_np)
countSuccessResultBuy = (BuyPosSubResult_np == 'Success').sum() 

WinRateForBuyPos = countSuccessResultBuy / countTotalResultForBuy
WinRateForBuyPos

0.910377358490566

In [10]:
SellPosSubResult = np.where (tableForSellEntry_pd ['If Sell Pos'] > 0.0008, 'Success', 'Fail')
SellPosSubResult_pd = pd.DataFrame (SellPosSubResult, columns = ['Sell Result'])
SellPosSubResult_pd  

# Convert To Numpy
SellPosSubResult_np = SellPosSubResult_pd.values
(SellPosSubResult_np == 'Success').sum()

# Count Contents
countResultForSell = len(SellPosSubResult_np)
countSuccessResultSell = (SellPosSubResult_np == 'Success').sum() 

WinRateForSell = countSuccessResultSell / countResultForSell
WinRateForSell

0.9024390243902439

In [11]:
# TP WIN/LOSS RATE FOR 9:00
# Include HIGH AND LOW FOR 8:00 TO 9:00 | H09 L09 & H08 L08
H1FullUsdChf_pd_02 = pd.read_csv('datasets/2018-06-12-UsdChfH1_raw.csv')

H1FullUsdChf_pd_02.columns = ['Date', 'Time', 'Open','High','Low','Close', 'Vol']
H1FullUsdChf_pd_02 = H1FullUsdChf_pd_02.set_index('Date')
H1FullUsdChf_pd_02 = H1FullUsdChf_pd_02.drop(['Vol'], axis=1)
H1FullUsdChf_pd_02

             Time     Open     High      Low    Close
Date
2015.05.19  11:00  0.93110  0.93270  0.93010  0.93170
2015.05.19  12:00  0.93160  0.93200  0.93000  0.93040
2015.05.19  13:00  0.93040  0.93110  0.92960  0.92990
2015.05.19  14:00  0.92990  0.93190  0.92970  0.92970
2015.05.19  15:00  0.92970  0.93760  0.92960  0.93710
2015.05.19  16:00  0.93710  0.93720  0.93360  0.93480
2015.05.19  17:00  0.93470  0.93790  0.93430  0.93770
2015.05.19  18:00  0.93780  0.93810  0.93590  0.93660
2015.05.19  19:00  0.93650  0.93720  0.93580  0.93590
2015.05.19  20:00  0.93590  0.93800  0.93580  0.93720
2015.05.19  21:00  0.93720  0.93740  0.93640  0.93700
2015.05.19  22:00  0.93700  0.93740  0.93600  0.93740
2015.05.19  23:00  0.93740  0.93750  0.93600  0.93600
2015.05.20  00:00  0.93670  0.93690  0.93640  0.93660
2015.05.20  01:00  0.93670  0.93710  0.93650  0.93690
2015.05.20  02:00  0.93680  0.93710  0.93660  0.93690
2015.05.20  03:00  0.93700  0.93820  0.93680  0.93710
2015.05.20  04:00  0.93700  0.93750  0.93640  0.93680
2015.05.20  05:00  0.93680  0.93690  0.93560  0.93610
2015.05.20  06:00  0.93610  0.93640  0.93580  0.93620
2015.05.20  07:00  0.93620  0.93680  0.93580  0.93680
2015.05.20  08:00  0.93680  0.93780  0.93530  0.93780
2015.05.20  09:00  0.93780  0.93960  0.93710  0.93890
2015.05.20  10:00  0.93890  0.94030  0.93770  0.93870
2015.05.20  11:00  0.93870  0.93870  0.93570  0.93750
2015.05.20  12:00  0.93750  0.93830  0.93630  0.93740
2015.05.20  13:00  0.93740  0.94020  0.93690  0.93970
2015.05.20  14:00  0.93980  0.93990  0.93760  0.93800
2015.05.20  15:00  0.93800  0.93840  0.93490  0.93500
2015.05.20  16:00  0.93490  0.93820  0.93490  0.93710
...           ...      ...      ...      ...      ...
2018.06.08  12:00  0.98213  0.98338  0.98203  0.98274
2018.06.08  13:00  0.98273  0.98408  0.98235  0.98406
2018.06.08  14:00  0.98405  0.98492  0.98395  0.98410
2018.06.08  15:00  0.98411  0.98871  0.98408  0.98867
2018.06.08  16:00  0.98868  0.98871  0.98607  0.98734
2018.06.08  17:00  0.98733  0.98737  0.98500  0.98535
2018.06.08  18:00  0.98534  0.98652  0.98503  0.98594
2018.06.08  19:00  0.98595  0.98683  0.98550  0.98570
2018.06.08  20:00  0.98569  0.98609  0.98505  0.98509
2018.06.08  21:00  0.98510  0.98523  0.98461  0.98503
2018.06.08  22:00  0.98505  0.98583  0.98504  0.98521
2018.06.08  23:00  0.98519  0.98528  0.98425  0.98429
2018.06.11  00:00  0.98433  0.98477  0.98419  0.98442
2018.06.11  01:00  0.98440  0.98497  0.98439  0.98479
2018.06.11  02:00  0.98479  0.98501  0.98458  0.98481
2018.06.11  03:00  0.98481  0.98543  0.98450  0.98461
2018.06.11  04:00  0.98462  0.98475  0.98387  0.98427
2018.06.11  05:00  0.98428  0.98606  0.98421  0.98566
2018.06.11  06:00  0.98566  0.98580  0.98527  0.98535
2018.06.11  07:00  0.98536  0.98557  0.98512  0.98525
2018.06.11  08:00  0.98524  0.98581  0.98512  0.98569
2018.06.11  09:00  0.98570  0.98716  0.98543  0.98627
2018.06.11  10:00  0.98628  0.98649  0.98422  0.98598
2018.06.11  11:00  0.98600  0.98647  0.98444  0.98614
2018.06.11  12:00  0.98615  0.98668  0.98578  0.98635
2018.06.11  13:00  0.98637  0.98734  0.98594  0.98697
2018.06.11  14:00  0.98696  0.98729  0.98623  0.98667
2018.06.11  15:00  0.98665  0.98672  0.98480  0.98503
2018.06.11  16:00  0.98500  0.98544  0.98457  0.98493
2018.06.11  17:00  0.98495  0.98531  0.98407  0.98432

[19072 rows x 5 columns]

In [12]:
T0000UsdChf_pd_02 = H1FullUsdChf_pd_02 [(H1FullUsdChf_pd_02 ['Time'] == '00:00')]
T0700UsdChf_pd_02 = H1FullUsdChf_pd_02 [(H1FullUsdChf_pd_02 ['Time'] == '07:00')]
T0800UsdChf_pd_02 = H1FullUsdChf_pd_02 [(H1FullUsdChf_pd_02 ['Time'] == '08:00')]
T0900UsdChf_pd_02 = H1FullUsdChf_pd_02 [(H1FullUsdChf_pd_02 ['Time'] == '09:00')]

T0000UsdChf_pd_02.columns = ['T00', 'O00','H00','L00','C00']
T0700UsdChf_pd_02.columns = ['T07', 'O07','H07','L07','C07']
T0800UsdChf_pd_02.columns = ['T08', 'O08','H08','L08','C08']
T0900UsdChf_pd_02.columns = ['T09', 'O09','H09','L09','C09']

SummaryTable06 = pd.concat([T0000UsdChf_pd_02, T0700UsdChf_pd_02, T0800UsdChf_pd_02, T0900UsdChf_pd_02], axis=1)
SummaryTable06

/home/me/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:11: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  # This is added back by InteractiveShellApp.init_path()

,T00,O00,H00,L00,C00,T07,O07,H07,L07,C07,T08,O08,H08,L08,C08,T09,O09,H09,L09,C09
2015.05.20,00:00,0.93670,0.93690,0.93640,0.93660,07:00,0.93620,0.93680,0.93580,0.93680,08:00,0.93680,0.93780,0.93530,0.93780,09:00,0.93780,0.93960,0.93710,0.93890
2015.05.21,00:00,0.93680,0.93700,0.93610,0.93660,07:00,0.93380,0.93430,0.93310,0.93410,08:00,0.93410,0.93560,0.93390,0.93450,09:00,0.93450,0.93790,0.93450,0.93650
2015.05.22,00:00,0.93650,0.93680,0.93590,0.93670,07:00,0.93470,0.93510,0.93420,0.93510,08:00,0.93510,0.93550,0.93410,0.93460,09:00,0.93450,0.93450,0.93260,0.93360
2015.05.25,00:00,0.94310,0.94480,0.94260,0.94350,07:00,0.94250,0.94270,0.94240,0.94240,08:00,0.94240,0.94270,0.94140,0.94150,09:00,0.94150,0.94160,0.94020,0.94050
2015.05.26,00:00,0.94460,0.94530,0.94460,0.94500,07:00,0.94640,0.94720,0.94630,0.94710,08:00,0.94710,0.94750,0.94670,0.94740,09:00,0.94730,0.95110,0.94680,0.95060
2015.05.27,00:00,0.95320,0.95350,0.95250,0.95300,07:00,0.95140,0.95190,0.95050,0.95090,08:00,0.95090,0.95100,0.94840,0.94960,09:00,0.94960,0.95020,0.94670,0.94700
2015.05.28,00:00,0.94910,0.95010,0.94890,0.94990,07:00,0.94870,0.94900,0.94730,0.94740,08:00,0.94750,0.94820,0.94720,0.94750,09:00,0.94750,0.94900,0.94510,0.94580
2015.05.29,00:00,0.94300,0.94500,0.94150,0.94300,07:00,0.94150,0.94180,0.94060,0.94150,08:00,0.94150,0.94330,0.94150,0.94300,09:00,0.94300,0.94730,0.94230,0.94710
2015.06.01,00:00,0.94020,0.94020,0.93850,0.93920,07:00,0.94200,0.94250,0.94140,0.94210,08:00,0.94210,0.94320,0.94190,0.94290,09:00,0.94280,0.94530,0.94250,0.94470
2015.06.02,00:00,0.94550,0.94660,0.94450,0.94560,07:00,0.94430,0.94480,0.94380,0.94400,08:00,0.94400,0.94480,0.94330,0.94460,09:00,0.94460,0.94550,0.94110,0.94150
2015.06.03,00:00,0.93260,0.93300,0.93260,0.93280,07:00,0.93320,0.93320,0.93230,0.93270,08:00,0.93270,0.93270,0.93110,0.93210,09:00,0.93200,0.93300,0.92990,0.93230
2015.06.04,00:00,0.93350,0.93420,0.93350,0.93380,07:00,0.93390,0.93420,0.93360,0.93410,08:00,0.93410,0.93420,0.93320,0.93360,09:00,0.93360,0.93580,0.93320,0.93540
2015.06.05,00:00,0.93320,0.93380,0.93310,0.93370,07:00,0.93440,0.93450,0.93300,0.93340,08:00,0.93340,0.93410,0.93300,0.93310,09:00,0.93320,0.93390,0.93180,0.93210
2015.06.08,00:00,0.94220,0.94220,0.93950,0.94050,07:00,0.94090,0.94140,0.94080,0.94110,08:00,0.94110,0.94140,0.94050,0.94050,09:00,0.94040,0.94270,0.93730,0.93950
2015.06.09,00:00,0.92750,0.92760,0.92700,0.92740,07:00,0.92620,0.92660,0.92600,0.92640,08:00,0.92640,0.92640,0.92490,0.92500,09:00,0.92510,0.92770,0.92510,0.92690
2015.06.10,00:00,0.93030,0.93080,0.93030,0.93080,07:00,0.93130,0.93160,0.92880,0.92920,08:00,0.92920,0.93010,0.92800,0.92880,09:00,0.92880,0.93020,0.92700,0.92760
2015.06.11,00:00,0.93060,0.93200,0.92980,0.93170,07:00,0.93260,0.93270,0.93180,0.93240,08:00,0.93250,0.93290,0.93110,0.93110,09:00,0.93120,0.93250,0.92950,0.93140
2015.06.12,00:00,0.93240,0.93370,0.93220,0.93350,07:00,0.93290,0.93410,0.93220,0.93390,08:00,0.93390,0.93410,0.93300,0.93330,09:00,0.93330,0.93420,0.93300,0.93380
2015.06.15,00:00,0.92980,0.93000,0.92870,0.92930,07:00,0.93150,0.93200,0.93110,0.93130,08:00,0.93140,0.93290,0.93140,0.93290,09:00,0.93280,0.93310,0.92990,0.93020
2015.06.16,00:00,0.92900,0.92990,0.92890,0.92970,07:00,0.92940,0.92960,0.92930,0.92950,08:00,0.92950,0.93030,0.92900,0.92930,09:00,0.92930,0.93070,0.92730,0.92740
2015.06.17,00:00,0.93190,0.93220,0.93180,0.93200,07:00,0.93050,0.93090,0.93040,0.93070,08:00,0.93080,0.93110,0.93030,0.93100,09:00,0.93090,0.93120,0.92880,0.92950
2015.06.18,00:00,0.92120,0.92200,0.92120,0.92180,07:00,0.92000,0.92040,0.91930,0.91980,08:00,0.91980,0.92040,0.91910,0.92020,09:00,0.92020,0.92180,0.91980,0.92100
2015.06.19,00:00,0.92090,0.92120,0.92050,0.92120,07:00,0.92070,0.92180,0.92070,0.92140,08:00,0.92140,0.92240,0.92120,0.92160,09:00,0.92160,0.92310,0.92130,0.92240
2015.06.22,00:00,0.91690,0.91770,0.91610,0.91740,07:00,0.91710,0.91720,0.91620,0.91650,08:00,0.91660,0.91780,0.91630,0.91720,09:00,0.91720,0.91820,0.91610,0.91720
2015.06.23,00:00,0.92140,0.92180,0.92070,0.92120,07:00,0.92780,0.92780,0.92660,0.92720,08:00,0.92710,0.92750,0.92590,0.92610,09:00,0.92610,0.92870,0.92610,0.92640
2015.06.24,00:00,0.93370,0.93420,0.93370,0.93400,07:00,0.93270,0.93400,0.93240,0.93380,08:00,0.93380,0.93400,0.93220,0.93260,09:00,0.93250,0.93280,0.93060,0.93110
2015.06.25,00:00,0.93350,0.93350,0.93320,0.93330,07:00,0.93310,0.93380,0.93280,0.93310,08:00,0.93310,0.93380,0.93290,0.93320,09:00,0.93320,0.93550,0.93220,0.93490
2015.06.26,00:00,0.93610,0.93640,0.93540,0.93600,07:00,0.93560,0.93600,0.93560,0.93590,08:00,0.93580,0.93690,0.93570,0.93670,09:00,0.93680,0.93710,0.93520,0.93590
2015.06.29,00:00,0.93800,0.94130,0.93740,0.94020,07:00,0.93810,0.93890,0.93770,0.93850,08:00,0.93840,0.93940,0.93710,0.93710,09:00,0.93730,0.93900,0.93340,0.93490
2015.06.30,00:00,0.92460,0.92480,0.92450,0.92460,07:00,0.92950,0.93060,0.92940,0.93020,08:00,0.93020,0.93050,0.92960,0.93010,09:00,0.93000,0.93280,0.92860,0.93170
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018.05.01,00:00,0.99049,0.99083,0.98988,0.99050,07:00,0.99148,0.99187,0.99129,0.99177,08:00,0.99176,0.99202,0.99160,0.99161,09:00,0.99162,0.99215,0.99144,0.99189
2018.05.02,00:00,0.99632,0.99692,0.99565,0.99640,07:00,0.99591,0.99610,0.99584,0.99608,08:00,0.99609,0.99680,0.99588,0.99626,09:00,0.99627,0.99644,0.99470,0.99523
2018.05.03,00:00,0.99830,0.99956,0.99830,0.99835,07:00,0.99748,0.99763,0.99698,0.99711,08:00,0.99710,0.99744,0.99689,0.99722,09:00,0.99723,0.99794,0.99613,0.99698
2018.05.04,00:00,0.99735,0.99789,0.99678,0.99759,07:00,0.99749,0.99792,0.99733,0.99791,08:00,0.99792,0.99835,0.99787,0.99825,09:00,0.99826,0.99945,0.99824,0.99934
2018.05.07,00:00,1.00001,1.00061,0.99967,1.00016,07:00,0.99923,0.99968,0.99919,0.99964,08:00,0.99965,1.00097,0.99961,1.00018,09:00,1.00017,1.00153,1.00017,1.00131
2018.05.08,00:00,1.00243,1.00307,1.00180,1.00288,07:00,1.00331,1.00377,1.00328,1.00345,08:00,1.00346,1.00377,1.00264,1.00289,09:00,1.00290,1.00318,1.00168,1.00313
2018.05.09,00:00,1.00158,1.00203,1.00094,1.00157,07:00,1.00335,1.00344,1.00293,1.00305,08:00,1.00306,1.00378,1.00305,1.00319,09:00,1.00318,1.00397,1.00270,1.00343
2018.05.10,00:00,1.00482,1.00544,1.00440,1.00487,07:00,1.00441,1.00451,1.00356,1.00367,08:00,1.00366,1.00437,1.00359,1.00413,09:00,1.00415,1.00463,1.00369,1.00449
2018.05.11,00:00,1.00267,1.00347,1.00215,1.00265,07:00,1.00313,1.00324,1.00290,1.00319,08:00,1.00317,1.00337,1.00276,1.00319,09:00,1.00320,1.00397,1.00270,1.00383
2018.05.14,00:00,1.00004,1.00077,0.99939,0.99957,07:00,0.99915,1.00001,0.99915,0.99996,08:00,0.99997,1.00036,0.99944,0.99954,09:00,0.99950,1.00040,0.99905,1.00011
2018.05.15,00:00,1.00056,1.00124,0.99997,1.00021,07:00,1.00074,1.00204,1.00070,1.00193,08:00,1.00192,1.00210,1.00105,1.00111,09:00,1.00108,1.00171,1.00060,1.00063
2018.05.16,00:00,1.00116,1.00153,1.00081,1.00103,07:00,1.00005,1.00038,1.00002,1.00033,08:00,1.00035,1.00063,0.99951,0.99962,09:00,0.99963,1.00028,0.99867,0.99886
2018.05.17,00:00,1.00110,1.00115,0.99984,1.00057,07:00,0.99933,1.00000,0.99922,0.99997,08:00,0.99998,1.00046,0.99920,0.99927,09:00,0.99930,1.00163,0.99930,1.00046
2018.05.18,00:00,1.00115,1.00163,1.00063,1.00118,07:00,1.00084,1.00113,1.00075,1.00089,08:00,1.00090,1.00096,1.00001,1.00009,09:00,1.00010,1.00063,0.99951,0.99951
2018.05.21,00:00,0.99673,0.99765,0.99669,0.99745,07:00,0.99921,0.99968,0.99907,0.99925,08:00,0.99924,0.99971,0.99901,0.99904,09:00,0.99903,0.99968,0.99870,0.99963
2018.05.22,00:00,0.99704,0.99743,0.99659,0.99680,07:00,0.99653,0.99685,0.99626,0.99684,08:00,0.99683,0.99694,0.99648,0.99662,09:00,0.99663,0.99852,0.99644,0.99850
2018.05.23,00:00,0.99257,0.99286,0.99198,0.99246,07:00,0.99263,0.99281,0.99230,0.99261,08:00,0.99262,0.99278,0.99218,0.99276,09:00,0.99277,0.99298,0.99042,0.99082
2018.05.24,00:00,0.99544,0.99565,0.99420,0.99475,07:00,0.99375,0.99375,0.99312,0.99312,08:00,0.99315,0.99353,0.99263,0.99320,09:00,0.99322,0.99430,0.99297,0.99402
2018.05.25,00:00,0.99119,0.99149,0.99026,0.99067,07:00,0.99224,0.99246,0.99212,0.99223,08:00,0.99224,0.99255,0.99213,0.99251,09:00,0.99252,0.99266,0.99155,0.99199
2018.05.28,00:00,0.99140,0.99281,0.99080,0.99218,07:00,0.99177,0.99192,0.99140,0.99141,08:00,0.99142,0.99159,0.99106,0.99156,09:00,0.99157,0.99202,0.99124,0.99189
2018.05.29,00:00,0.99305,0.99376,0.99276,0.99347,07:00,0.99259,0.99285,0.99252,0.99282,08:00,0.99281,0.99331,0.99252,0.99318,09:00,0.99319,0.99410,0.99243,0.99386
2018.05.30,00:00,0.99129,0.99131,0.98983,0.99072,07:00,0.99329,0.99352,0.99227,0.99251,08:00,0.99254,0.99352,0.99246,0.99280,09:00,0.99283,0.99336,0.99243,0.99304
2018.05.31,00:00,0.98884,0.98923,0.98843,0.98901,07:00,0.98835,0.98849,0.98812,0.98829,08:00,0.98827,0.98857,0.98771,0.98847,09:00,0.98844,0.98879,0.98785,0.98846
2018.06.01,00:00,0.98532,0.98600,0.98521,0.98527,07:00,0.98768,0.98791,0.98759,0.98770,08:00,0.98769,0.98817,0.98739,0.98765,09:00,0.98764,0.98917,0.98752,0.98903
2018.06.04,00:00,0.98842,0.98855,0.98778,0.98840,07:00,0.98734,0.98794,0.98717,0.98783,08:00,0.98782,0.98808,0.98727,0.98759,09:00,0.98760,0.98818,0.98725,0.98767
2018.06.05,00:00,0.98740,0.98838,0.98719,0.98783,07:00,0.98878,0.98917,0.98865,0.98898,08:00,0.98899,0.98925,0.98829,0.98833,09:00,0.98834,0.98864,0.98720,0.98734
2018.06.06,00:00,0.98401,0.98529,0.98367,0.98435,07:00,0.98434,0.98515,0.98433,0.98513,08:00,0.98514,0.98553,0.98448,0.98460,09:00,0.98462,0.98529,0.98363,0.98518
2018.06.07,00:00,0.98596,0.98660,0.98523,0.98593,07:00,0.98615,0.98639,0.98440,0.98457,08:00,0.98456,0.98465,0.98389,0.98397,09:00,0.98398,0.98446,0.98393,0.98432
2018.06.08,00:00,0.98022,0.98058,0.97916,0.97984,07:00,0.98040,0.98081,0.98028,0.98039,08:00,0.98041,0.98117,0.98039,0.98085,09:00,0.98086,0.98187,0.98039,0.98087
2018.06.11,00:00,0.98433,0.98477,0.98419,0.98442,07:00,0.98536,0.98557,0.98512,0.98525,08:00,0.98524,0.98581,0.98512,0.98569,09:00,0.98570,0.98716,0.98543,0.98627

In [13]:
# Selecting Columns for max value between H08 and H09
tableH0809 = SummaryTable06[['H08','H09']]
tableH0809['High 0809'] = tableH0809.max(axis=1)
tableH0809

/home/me/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                H08      H09  High 0809
2015.05.20  0.93780  0.93960    0.93960
2015.05.21  0.93560  0.93790    0.93790
2015.05.22  0.93550  0.93450    0.93550
2015.05.25  0.94270  0.94160    0.94270
2015.05.26  0.94750  0.95110    0.95110
2015.05.27  0.95100  0.95020    0.95100
2015.05.28  0.94820  0.94900    0.94900
2015.05.29  0.94330  0.94730    0.94730
2015.06.01  0.94320  0.94530    0.94530
2015.06.02  0.94480  0.94550    0.94550
2015.06.03  0.93270  0.93300    0.93300
2015.06.04  0.93420  0.93580    0.93580
2015.06.05  0.93410  0.93390    0.93410
2015.06.08  0.94140  0.94270    0.94270
2015.06.09  0.92640  0.92770    0.92770
2015.06.10  0.93010  0.93020    0.93020
2015.06.11  0.93290  0.93250    0.93290
2015.06.12  0.93410  0.93420    0.93420
2015.06.15  0.93290  0.93310    0.93310
2015.06.16  0.93030  0.93070    0.93070
2015.06.17  0.93110  0.93120    0.93120
2015.06.18  0.92040  0.92180    0.92180
2015.06.19  0.92240  0.92310    0.92310
2015.06.22  0.91780  0.91820    0.91820
2015.06.23  0.92750  0.92870    0.92870
2015.06.24  0.93400  0.93280    0.93400
2015.06.25  0.93380  0.93550    0.93550
2015.06.26  0.93690  0.93710    0.93710
2015.06.29  0.93940  0.93900    0.93940
2015.06.30  0.93050  0.93280    0.93280
...             ...      ...        ...
2018.05.01  0.99202  0.99215    0.99215
2018.05.02  0.99680  0.99644    0.99680
2018.05.03  0.99744  0.99794    0.99794
2018.05.04  0.99835  0.99945    0.99945
2018.05.07  1.00097  1.00153    1.00153
2018.05.08  1.00377  1.00318    1.00377
2018.05.09  1.00378  1.00397    1.00397
2018.05.10  1.00437  1.00463    1.00463
2018.05.11  1.00337  1.00397    1.00397
2018.05.14  1.00036  1.00040    1.00040
2018.05.15  1.00210  1.00171    1.00210
2018.05.16  1.00063  1.00028    1.00063
2018.05.17  1.00046  1.00163    1.00163
2018.05.18  1.00096  1.00063    1.00096
2018.05.21  0.99971  0.99968    0.99971
2018.05.22  0.99694  0.99852    0.99852
2018.05.23  0.99278  0.99298    0.99298
2018.05.24  0.99353  0.99430    0.99430
2018.05.25  0.99255  0.99266    0.99266
2018.05.28  0.99159  0.99202    0.99202
2018.05.29  0.99331  0.99410    0.99410
2018.05.30  0.99352  0.99336    0.99352
2018.05.31  0.98857  0.98879    0.98879
2018.06.01  0.98817  0.98917    0.98917
2018.06.04  0.98808  0.98818    0.98818
2018.06.05  0.98925  0.98864    0.98925
2018.06.06  0.98553  0.98529    0.98553
2018.06.07  0.98465  0.98446    0.98465
2018.06.08  0.98117  0.98187    0.98187
2018.06.11  0.98581  0.98716    0.98716

[795 rows x 3 columns]

In [14]:
tableL0809 = SummaryTable06[['L08','L09']]
tableL0809['Low 0809'] = tableL0809.min(axis=1)
tableL0809

/home/me/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

                L08      L09  Low 0809
2015.05.20  0.93530  0.93710   0.93530
2015.05.21  0.93390  0.93450   0.93390
2015.05.22  0.93410  0.93260   0.93260
2015.05.25  0.94140  0.94020   0.94020
2015.05.26  0.94670  0.94680   0.94670
2015.05.27  0.94840  0.94670   0.94670
2015.05.28  0.94720  0.94510   0.94510
2015.05.29  0.94150  0.94230   0.94150
2015.06.01  0.94190  0.94250   0.94190
2015.06.02  0.94330  0.94110   0.94110
2015.06.03  0.93110  0.92990   0.92990
2015.06.04  0.93320  0.93320   0.93320
2015.06.05  0.93300  0.93180   0.93180
2015.06.08  0.94050  0.93730   0.93730
2015.06.09  0.92490  0.92510   0.92490
2015.06.10  0.92800  0.92700   0.92700
2015.06.11  0.93110  0.92950   0.92950
2015.06.12  0.93300  0.93300   0.93300
2015.06.15  0.93140  0.92990   0.92990
2015.06.16  0.92900  0.92730   0.92730
2015.06.17  0.93030  0.92880   0.92880
2015.06.18  0.91910  0.91980   0.91910
2015.06.19  0.92120  0.92130   0.92120
2015.06.22  0.91630  0.91610   0.91610
2015.06.23  0.92590  0.92610   0.92590
2015.06.24  0.93220  0.93060   0.93060
2015.06.25  0.93290  0.93220   0.93220
2015.06.26  0.93570  0.93520   0.93520
2015.06.29  0.93710  0.93340   0.93340
2015.06.30  0.92960  0.92860   0.92860
...             ...      ...       ...
2018.05.01  0.99160  0.99144   0.99144
2018.05.02  0.99588  0.99470   0.99470
2018.05.03  0.99689  0.99613   0.99613
2018.05.04  0.99787  0.99824   0.99787
2018.05.07  0.99961  1.00017   0.99961
2018.05.08  1.00264  1.00168   1.00168
2018.05.09  1.00305  1.00270   1.00270
2018.05.10  1.00359  1.00369   1.00359
2018.05.11  1.00276  1.00270   1.00270
2018.05.14  0.99944  0.99905   0.99905
2018.05.15  1.00105  1.00060   1.00060
2018.05.16  0.99951  0.99867   0.99867
2018.05.17  0.99920  0.99930   0.99920
2018.05.18  1.00001  0.99951   0.99951
2018.05.21  0.99901  0.99870   0.99870
2018.05.22  0.99648  0.99644   0.99644
2018.05.23  0.99218  0.99042   0.99042
2018.05.24  0.99263  0.99297   0.99263
2018.05.25  0.99213  0.99155   0.99155
2018.05.28  0.99106  0.99124   0.99106
2018.05.29  0.99252  0.99243   0.99243
2018.05.30  0.99246  0.99243   0.99243
2018.05.31  0.98771  0.98785   0.98771
2018.06.01  0.98739  0.98752   0.98739
2018.06.04  0.98727  0.98725   0.98725
2018.06.05  0.98829  0.98720   0.98720
2018.06.06  0.98448  0.98363   0.98363
2018.06.07  0.98389  0.98393   0.98389
2018.06.08  0.98039  0.98039   0.98039
2018.06.11  0.98512  0.98543   0.98512

[795 rows x 3 columns]

In [15]:
# Creating columns for Close 07
tableC07 = SummaryTable06[['C07']]
tableC07

                C07
2015.05.20  0.93680
2015.05.21  0.93410
2015.05.22  0.93510
2015.05.25  0.94240
2015.05.26  0.94710
2015.05.27  0.95090
2015.05.28  0.94740
2015.05.29  0.94150
2015.06.01  0.94210
2015.06.02  0.94400
2015.06.03  0.93270
2015.06.04  0.93410
2015.06.05  0.93340
2015.06.08  0.94110
2015.06.09  0.92640
2015.06.10  0.92920
2015.06.11  0.93240
2015.06.12  0.93390
2015.06.15  0.93130
2015.06.16  0.92950
2015.06.17  0.93070
2015.06.18  0.91980
2015.06.19  0.92140
2015.06.22  0.91650
2015.06.23  0.92720
2015.06.24  0.93380
2015.06.25  0.93310
2015.06.26  0.93590
2015.06.29  0.93850
2015.06.30  0.93020
...             ...
2018.05.01  0.99177
2018.05.02  0.99608
2018.05.03  0.99711
2018.05.04  0.99791
2018.05.07  0.99964
2018.05.08  1.00345
2018.05.09  1.00305
2018.05.10  1.00367
2018.05.11  1.00319
2018.05.14  0.99996
2018.05.15  1.00193
2018.05.16  1.00033
2018.05.17  0.99997
2018.05.18  1.00089
2018.05.21  0.99925
2018.05.22  0.99684
2018.05.23  0.99261
2018.05.24  0.99312
2018.05.25  0.99223
2018.05.28  0.99141
2018.05.29  0.99282
2018.05.30  0.99251
2018.05.31  0.98829
2018.06.01  0.98770
2018.06.04  0.98783
2018.06.05  0.98898
2018.06.06  0.98513
2018.06.07  0.98457
2018.06.08  0.98039
2018.06.11  0.98525

[795 rows x 1 columns]

In [16]:
tableBlBr = SummaryTable04[['Bull/Bear']]
tableBlBr

           Bull/Bear
Date
2015.05.20      bull
2015.05.21      bear
2015.05.22      bear
2015.05.25      bear
2015.05.26      bull
2015.05.27      bear
2015.05.28      bear
2015.05.29      bear
2015.06.01      bull
2015.06.02      bear
2015.06.03      bull
2015.06.04      bull
2015.06.05      bull
2015.06.08      bear
2015.06.09      bear
2015.06.10      bear
2015.06.11      bull
2015.06.12      bull
2015.06.15      bull
2015.06.16      bull
2015.06.17      bear
2015.06.18      bear
2015.06.19      bull
2015.06.22      bear
2015.06.23      bull
2015.06.24      bull
2015.06.25      bear
2015.06.26      bear
2015.06.29      bull
2015.06.30      bull
...              ...
2018.05.01      bull
2018.05.02      bear
2018.05.03      bear
2018.05.04      bull
2018.05.07      bear
2018.05.08      bull
2018.05.09      bull
2018.05.10      bear
2018.05.11      bull
2018.05.14      bear
2018.05.15      bull
2018.05.16      bear
2018.05.17      bear
2018.05.18      bear
2018.05.21      bull
2018.05.22      bear
2018.05.23      bull
2018.05.24      bear
2018.05.25      bull
2018.05.28      bull
2018.05.29      bear
2018.05.30      bull
2018.05.31      bear
2018.06.01      bull
2018.06.04      bear
2018.06.05      bull
2018.06.06      bull
2018.06.07      bear
2018.06.08      bull
2018.06.11      bull

[793 rows x 1 columns]

In [17]:
summaryTable07 = pd.concat([tableC07, tableH0809, tableL0809, tableBlBr], axis=1)
summaryTable07

/home/me/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

,C07,H08,H09,High 0809,L08,L09,Low 0809,Bull/Bear
2015.05.20,0.93680,0.93780,0.93960,0.93960,0.93530,0.93710,0.93530,bull
2015.05.21,0.93410,0.93560,0.93790,0.93790,0.93390,0.93450,0.93390,bear
2015.05.22,0.93510,0.93550,0.93450,0.93550,0.93410,0.93260,0.93260,bear
2015.05.25,0.94240,0.94270,0.94160,0.94270,0.94140,0.94020,0.94020,bear
2015.05.26,0.94710,0.94750,0.95110,0.95110,0.94670,0.94680,0.94670,bull
2015.05.27,0.95090,0.95100,0.95020,0.95100,0.94840,0.94670,0.94670,bear
2015.05.28,0.94740,0.94820,0.94900,0.94900,0.94720,0.94510,0.94510,bear
2015.05.29,0.94150,0.94330,0.94730,0.94730,0.94150,0.94230,0.94150,bear
2015.06.01,0.94210,0.94320,0.94530,0.94530,0.94190,0.94250,0.94190,bull
2015.06.02,0.94400,0.94480,0.94550,0.94550,0.94330,0.94110,0.94110,bear
2015.06.03,0.93270,0.93270,0.93300,0.93300,0.93110,0.92990,0.92990,bull
2015.06.04,0.93410,0.93420,0.93580,0.93580,0.93320,0.93320,0.93320,bull
2015.06.05,0.93340,0.93410,0.93390,0.93410,0.93300,0.93180,0.93180,bull
2015.06.08,0.94110,0.94140,0.94270,0.94270,0.94050,0.93730,0.93730,bear
2015.06.09,0.92640,0.92640,0.92770,0.92770,0.92490,0.92510,0.92490,bear
2015.06.10,0.92920,0.93010,0.93020,0.93020,0.92800,0.92700,0.92700,bear
2015.06.11,0.93240,0.93290,0.93250,0.93290,0.93110,0.92950,0.92950,bull
2015.06.12,0.93390,0.93410,0.93420,0.93420,0.93300,0.93300,0.93300,bull
2015.06.15,0.93130,0.93290,0.93310,0.93310,0.93140,0.92990,0.92990,bull
2015.06.16,0.92950,0.93030,0.93070,0.93070,0.92900,0.92730,0.92730,bull
2015.06.17,0.93070,0.93110,0.93120,0.93120,0.93030,0.92880,0.92880,bear
2015.06.18,0.91980,0.92040,0.92180,0.92180,0.91910,0.91980,0.91910,bear
2015.06.19,0.92140,0.92240,0.92310,0.92310,0.92120,0.92130,0.92120,bull
2015.06.22,0.91650,0.91780,0.91820,0.91820,0.91630,0.91610,0.91610,bear
2015.06.23,0.92720,0.92750,0.92870,0.92870,0.92590,0.92610,0.92590,bull
2015.06.24,0.93380,0.93400,0.93280,0.93400,0.93220,0.93060,0.93060,bull
2015.06.25,0.93310,0.93380,0.93550,0.93550,0.93290,0.93220,0.93220,bear
2015.06.26,0.93590,0.93690,0.93710,0.93710,0.93570,0.93520,0.93520,bear
2015.06.29,0.93850,0.93940,0.93900,0.93940,0.93710,0.93340,0.93340,bull
2015.06.30,0.93020,0.93050,0.93280,0.93280,0.92960,0.92860,0.92860,bull
...,...,...,...,...,...,...,...,...
2018.05.01,0.99177,0.99202,0.99215,0.99215,0.99160,0.99144,0.99144,bull
2018.05.02,0.99608,0.99680,0.99644,0.99680,0.99588,0.99470,0.99470,bear
2018.05.03,0.99711,0.99744,0.99794,0.99794,0.99689,0.99613,0.99613,bear
2018.05.04,0.99791,0.99835,0.99945,0.99945,0.99787,0.99824,0.99787,bull
2018.05.07,0.99964,1.00097,1.00153,1.00153,0.99961,1.00017,0.99961,bear
2018.05.08,1.00345,1.00377,1.00318,1.00377,1.00264,1.00168,1.00168,bull
2018.05.09,1.00305,1.00378,1.00397,1.00397,1.00305,1.00270,1.00270,bull
2018.05.10,1.00367,1.00437,1.00463,1.00463,1.00359,1.00369,1.00359,bear
2018.05.11,1.00319,1.00337,1.00397,1.00397,1.00276,1.00270,1.00270,bull
2018.05.14,0.99996,1.00036,1.00040,1.00040,0.99944,0.99905,0.99905,bear
2018.05.15,1.00193,1.00210,1.00171,1.00210,1.00105,1.00060,1.00060,bull
2018.05.16,1.00033,1.00063,1.00028,1.00063,0.99951,0.99867,0.99867,bear
2018.05.17,0.99997,1.00046,1.00163,1.00163,0.99920,0.99930,0.99920,bear
2018.05.18,1.00089,1.00096,1.00063,1.00096,1.00001,0.99951,0.99951,bear
2018.05.21,0.99925,0.99971,0.99968,0.99971,0.99901,0.99870,0.99870,bull
2018.05.22,0.99684,0.99694,0.99852,0.99852,0.99648,0.99644,0.99644,bear
2018.05.23,0.99261,0.99278,0.99298,0.99298,0.99218,0.99042,0.99042,bull
2018.05.24,0.99312,0.99353,0.99430,0.99430,0.99263,0.99297,0.99263,bear
2018.05.25,0.99223,0.99255,0.99266,0.99266,0.99213,0.99155,0.99155,bull
2018.05.28,0.99141,0.99159,0.99202,0.99202,0.99106,0.99124,0.99106,bull
2018.05.29,0.99282,0.99331,0.99410,0.99410,0.99252,0.99243,0.99243,bear
2018.05.30,0.99251,0.99352,0.99336,0.99352,0.99246,0.99243,0.99243,bull
2018.05.31,0.98829,0.98857,0.98879,0.98879,0.98771,0.98785,0.98771,bear
2018.06.01,0.98770,0.98817,0.98917,0.98917,0.98739,0.98752,0.98739,bull
2018.06.04,0.98783,0.98808,0.98818,0.98818,0.98727,0.98725,0.98725,bear
2018.06.05,0.98898,0.98925,0.98864,0.98925,0.98829,0.98720,0.98720,bull
2018.06.06,0.98513,0.98553,0.98529,0.98553,0.98448,0.98363,0.98363,bull
2018.06.07,0.98457,0.98465,0.98446,0.98465,0.98389,0.98393,0.98389,bear
2018.06.08,0.98039,0.98117,0.98187,0.98187,0.98039,0.98039,0.98039,bull
2018.06.11,0.98525,0.98581,0.98716,0.98716,0.98512,0.98543,0.98512,bull

In [18]:
# If Buy or If Sell 
PositionBuy_TP0809 = summaryTable07 ['High 0809'] - summaryTable07 ['C07']
PositionBuy_TP0809_pd = pd.DataFrame (PositionBuy_TP0809, columns = ['If Buy Pos'])

PositionSell_TP0809 = summaryTable07 ['C07'] - summaryTable07 ['Low 0809']
PositionSell_TP0809_pd = pd.DataFrame (PositionSell_TP0809, columns = ['If Sell Pos'])

summaryTable08 = pd.concat([PositionBuy_TP0809_pd, PositionSell_TP0809_pd, tableBlBr], axis=1)
summaryTable08

/home/me/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

            If Buy Pos  If Sell Pos Bull/Bear
2015.05.20     0.00280      0.00150      bull
2015.05.21     0.00380      0.00020      bear
2015.05.22     0.00040      0.00250      bear
2015.05.25     0.00030      0.00220      bear
2015.05.26     0.00400      0.00040      bull
2015.05.27     0.00010      0.00420      bear
2015.05.28     0.00160      0.00230      bear
2015.05.29     0.00580      0.00000      bear
2015.06.01     0.00320      0.00020      bull
2015.06.02     0.00150      0.00290      bear
2015.06.03     0.00030      0.00280      bull
2015.06.04     0.00170      0.00090      bull
2015.06.05     0.00070      0.00160      bull
2015.06.08     0.00160      0.00380      bear
2015.06.09     0.00130      0.00150      bear
2015.06.10     0.00100      0.00220      bear
2015.06.11     0.00050      0.00290      bull
2015.06.12     0.00030      0.00090      bull
2015.06.15     0.00180      0.00140      bull
2015.06.16     0.00120      0.00220      bull
2015.06.17     0.00050      0.00190      bear
2015.06.18     0.00200      0.00070      bear
2015.06.19     0.00170      0.00020      bull
2015.06.22     0.00170      0.00040      bear
2015.06.23     0.00150      0.00130      bull
2015.06.24     0.00020      0.00320      bull
2015.06.25     0.00240      0.00090      bear
2015.06.26     0.00120      0.00070      bear
2015.06.29     0.00090      0.00510      bull
2015.06.30     0.00260      0.00160      bull
...                ...          ...       ...
2018.05.01     0.00038      0.00033      bull
2018.05.02     0.00072      0.00138      bear
2018.05.03     0.00083      0.00098      bear
2018.05.04     0.00154      0.00004      bull
2018.05.07     0.00189      0.00003      bear
2018.05.08     0.00032      0.00177      bull
2018.05.09     0.00092      0.00035      bull
2018.05.10     0.00096      0.00008      bear
2018.05.11     0.00078      0.00049      bull
2018.05.14     0.00044      0.00091      bear
2018.05.15     0.00017      0.00133      bull
2018.05.16     0.00030      0.00166      bear
2018.05.17     0.00166      0.00077      bear
2018.05.18     0.00007      0.00138      bear
2018.05.21     0.00046      0.00055      bull
2018.05.22     0.00168      0.00040      bear
2018.05.23     0.00037      0.00219      bull
2018.05.24     0.00118      0.00049      bear
2018.05.25     0.00043      0.00068      bull
2018.05.28     0.00061      0.00035      bull
2018.05.29     0.00128      0.00039      bear
2018.05.30     0.00101      0.00008      bull
2018.05.31     0.00050      0.00058      bear
2018.06.01     0.00147      0.00031      bull
2018.06.04     0.00035      0.00058      bear
2018.06.05     0.00027      0.00178      bull
2018.06.06     0.00040      0.00150      bull
2018.06.07     0.00008      0.00068      bear
2018.06.08     0.00148      0.00000      bull
2018.06.11     0.00191      0.00013      bull

[795 rows x 3 columns]

In [21]:
tableForBuyEntry_0809_pd = TableSummary05[(TableSummary05['Bull/Bear'] == 'bull')]
tableForSellEntry_0809_pd = TableSummary05[(TableSummary05['Bull/Bear'] == 'bear')]
tableForSellEntry_0809_pd

            If Buy Pos  If Sell Pos Bull/Bear
Date
2015.05.21     0.00380      0.00390      bear
2015.05.22     0.01020      0.00680      bear
2015.05.25     0.00290      0.00220      bear
2015.05.27     0.00310      0.00460      bear
2015.05.28     0.00350      0.00590      bear
2015.05.29     0.00610      0.00700      bear
2015.06.02     0.00260      0.01340      bear
2015.06.08     0.00160      0.01570      bear
2015.06.09     0.00660      0.00200      bear
2015.06.10     0.00300      0.00620      bear
2015.06.17     0.00150      0.01130      bear
2015.06.18     0.00450      0.00510      bear
2015.06.22     0.00580      0.00110      bear
2015.06.25     0.00810      0.00090      bear
2015.06.26     0.00120      0.00620      bear
2015.07.01     0.01320      0.00160      bear
2015.07.02     0.00440      0.00410      bear
2015.07.03     0.00150      0.00270      bear
2015.07.06     0.00310      0.00330      bear
2015.07.08     0.00540      0.00470      bear
2015.07.09     0.00670      0.00230      bear
2015.07.10     0.00270      0.01330      bear
2015.07.13     0.00960      0.00390      bear
2015.07.15     0.00950      0.00120      bear
2015.07.17     0.00510      0.00090      bear
2015.07.21     0.00010      0.00880      bear
2015.07.22     0.00540      0.00170      bear
2015.07.23     0.00150      0.00620      bear
2015.07.27     0.00350      0.00740      bear
2015.07.28     0.00600      0.00100      bear
...                ...          ...       ...
2018.03.07     0.00691      0.00162      bear
2018.03.12     0.00137      0.00412      bear
2018.03.14     0.00516      0.00043      bear
2018.03.15     0.00749      0.00119      bear
2018.03.16     0.00454      0.00172      bear
2018.03.21     0.00156      0.00645      bear
2018.03.22     0.00263      0.00294      bear
2018.03.23     0.00397      0.00109      bear
2018.03.26     0.00211      0.00348      bear
2018.03.27     0.00594      0.00154      bear
2018.03.29     0.00271      0.00090      bear
2018.03.30     0.00217      0.00200      bear
2018.04.04     0.00314      0.00284      bear
2018.04.06     0.00204      0.00509      bear
2018.04.11     0.00331      0.00079      bear
2018.04.26     0.00693      0.00103      bear
2018.05.02     0.00398      0.00235      bear
2018.05.03     0.00288      0.00146      bear
2018.05.07     0.00607      0.00116      bear
2018.05.10     0.00210      0.00417      bear
2018.05.14     0.00085      0.00411      bear
2018.05.16     0.00158      0.00189      bear
2018.05.17     0.00338      0.00129      bear
2018.05.18     0.00095      0.00585      bear
2018.05.22     0.00221      0.00504      bear
2018.05.24     0.00253      0.00455      bear
2018.05.29     0.00552      0.00775      bear
2018.05.31     0.00095      0.00566      bear
2018.06.04     0.00154      0.00488      bear
2018.06.07     0.00203      0.00580      bear

[369 rows x 3 columns]

In [28]:
# For buy position result
BuyPosSubResult_0809 = np.where (tableForBuyEntry_0809_pd ['If Buy Pos'] > 0.00080, 'Success', 'Fail')
BuyPosSubResult_0809_pd = pd.DataFrame (BuyPosSubResult_0809, columns = ['Buy Result'])
BuyPosSubResult_0809_pd  

# Convert To Numpy 
BuyPosSubResult_0809_np = BuyPosSubResult_0809_pd.values
BuyPosSubResult_0809_pd

# Count Contents
countTotalResultForBuy_0809 = len(BuyPosSubResult_0809_np)
countSuccessResultBuy_0809 = (BuyPosSubResult_0809_np == 'Success').sum() 

WinRateForBuyPos_0809 = countSuccessResultBuy_0809 / countTotalResultForBuy_0809
WinRateForBuyPos_0809

0.910377358490566

In [29]:
# For buy position result
SellPosSubResult_0809 = np.where (tableForBuyEntry_0809_pd ['If Sell Pos'] > 0.00080, 'Success', 'Fail')
SellPosSubResult_0809_pd = pd.DataFrame (SellPosSubResult_0809, columns = ['Sell Result'])
SellPosSubResult_0809_pd  

# Convert To Numpy 
SellPosSubResult_0809_np = SellPosSubResult_0809_pd.values
SellPosSubResult_0809_pd

# Count Contents
countTotalResultForSell_0809 = len(SellPosSubResult_0809_np)
countSuccessResultSell_0809 = (SellPosSubResult_0809_np == 'Success').sum() 

WinRateForSellPos_0809 = countSuccessResultSell_0809 / countTotalResultForSell_0809
WinRateForSellPos_0809

0.9834905660377359