In [1]:
# Nostradamus One: NTS Framework for all pairs.
import pandas as pd
import numpy as np

In [2]:
# Attach all dataset and convert to dataframe
hourlyFullUsdChf_pd = pd.read_csv('UsdChfH1NoonTime.csv')
dailyFullUsdChf_pd = pd.read_csv('UsdChfD1NoonTime.csv')
hourlySniffHighUsdChf_pd = pd.read_csv('UsdChfH1NoonTimeForSniffingHigh.csv')

# Noon Time Range is 21:00 to 04:00 (6am to 1pm Philippine Time). Create a dataframe for 21:00 and 04:00
mDataTime2100_pd = hourlyFullUsdChf_pd [(hourlyFullUsdChf_pd['Time'] == '21:00')]
mDataTime0400_pd = hourlyFullUsdChf_pd [(hourlyFullUsdChf_pd['Time'] == '04:00')] 

# Delete Columns
mDataTime0400_pd = mDataTime0400_pd.drop(mDataTime0400_pd.columns[[5]], axis=1)
mDataTime2100_pd = mDataTime2100_pd.drop(mDataTime2100_pd.columns[[5]], axis=1)

# Daily High Low
mDataHighDaily_pd = dailyFullUsdChf_pd.drop(dailyFullUsdChf_pd.columns[[0, 1, 4, 5]], axis=1)

# Change Column Names
mDataTime0400_pd.columns = ['Time 04', 'Open 04','High 04','Low 04','Close 04']
mDataTime2100_pd.columns = ['Time 21', 'Open 21','High 21','Low 21','Close 21']
mDataHighDaily_pd.columns = ['DHigh', 'DLow']

# Concatenate dataframes at vertical axis 
# Reshaped Dataset
mDataTime21To04ToDHigh_pd = pd.concat([mDataTime2100_pd, mDataTime0400_pd, mDataHighDaily_pd], axis=1)
reshapedDataSet_pd = mDataTime21To04ToDHigh_pd

# Notes: After reshaping the dataset, we will dataframe analytics

In [3]:
# LIST OF SYNTAX For Reference
    # Math Operations >> rShapeData1_pd ['UpOrDown'] = rShapeData1_pd ['Close'] - rShapeData1_pd ['Open'] 
    # Renaming Columns >> mDataTime0400_pd.columns = ['Time 04', 'Open 04','High 04','Low 04','Close 04','Volume 04']
    # Create Object >> data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
    #                   >> 'age': [42, 52, 36, 24, 73], 
    #                   >> 'preTestScore': [4, 24, 31, 2, 3],
    #                   >> 'postTestScore': [25, 94, 57, 62, 70]}
    #               >> df = pd.DataFrame(data, columns = ['name', 'age', 'preTestScore', 'postTestScore'])
    #               >> df
    # Make New Columns Based On Condition >> df['elderly'] = np.where(df['age']>=50, 'yes', 'no')
    # Selecting Columns >> rShapeData1_pd[(rShapeData1_pd['Day'] == 5) & (rShapeData1_pd['UpOrDown'] > 0)]

In [9]:
mDataTime21To04ToDHigh_pd

,Time 21,Open 21,High 21,Low 21,Close 21,Time 04,Open 04,High 04,Low 04,Close 04,DHigh,DLow
2017.11.08,21:00,0.99990,1.00031,0.99945,0.99996,04:00,0.99877,0.99881,0.99839,0.99854,1.00056,0.99803
2017.11.09,21:00,0.99416,0.99434,0.99359,0.99359,04:00,0.99993,0.99998,0.99898,0.99907,1.00168,0.99209
2017.11.10,21:00,0.99571,0.99605,0.99519,0.99572,04:00,0.99447,0.99495,0.99432,0.99488,0.99676,0.99246
2017.11.12,21:00,0.99637,0.99644,0.99547,0.99575,NaN,NaN,NaN,NaN,NaN,0.99660,0.99520
2017.11.13,21:00,0.99592,0.99620,0.99589,0.99611,04:00,0.99639,0.99699,0.99634,0.99694,0.99861,0.99359
2017.11.14,21:00,0.98946,0.98977,0.98908,0.98924,04:00,0.99647,0.99655,0.99619,0.99640,0.99698,0.98811
2017.11.15,21:00,0.98806,0.98853,0.98779,0.98822,04:00,0.98866,0.98890,0.98853,0.98889,0.99102,0.98456
2017.11.16,21:00,0.99391,0.99423,0.99338,0.99388,04:00,0.98896,0.98971,0.98895,0.98949,0.99446,0.98819
2017.11.17,21:00,0.98847,0.98929,0.98823,0.98825,04:00,0.99163,0.99236,0.99139,0.99235,0.99350,0.98753
2017.11.19,21:00,0.98842,0.98881,0.98842,0.98872,NaN,NaN,NaN,NaN,NaN,0.98999,0.98796
2017.11.20,21:00,0.99359,0.99360,0.99294,0.99330,04:00,0.98849,0.98902,0.98839,0.98901,0.99364,0.98781
2017.11.21,21:00,0.99123,0.99160,0.99098,0.99131,04:00,0.99269,0.99311,0.99266,0.99294,0.99460,0.98984
2017.11.22,21:00,0.98187,0.98200,0.98139,0.98144,04:00,0.99068,0.99073,0.99030,0.99057,0.99101,0.98081
2017.11.23,21:00,0.98105,0.98190,0.98074,0.98166,04:00,0.98146,0.98169,0.98133,0.98137,0.98272,0.97944
2017.11.24,21:00,0.97931,0.97972,0.97852,0.97929,04:00,0.98193,0.98205,0.98143,0.98174,0.98264,0.97849
2017.11.26,21:00,0.97849,0.97976,0.97813,0.97917,NaN,NaN,NaN,NaN,NaN,0.98044,0.97813
2017.11.27,21:00,0.98156,0.98188,0.98107,0.98135,04:00,0.98070,0.98079,0.98020,0.98037,0.98188,0.97779
2017.11.28,21:00,0.98436,0.98436,0.98317,0.98381,04:00,0.98132,0.98162,0.98109,0.98140,0.98519,0.98017
2017.11.29,21:00,0.98414,0.98450,0.98380,0.98439,04:00,0.98402,0.98485,0.98395,0.98485,0.98690,0.98180
2017.11.30,21:00,0.98361,0.98364,0.98282,0.98338,04:00,0.98401,0.98452,0.98394,0.98452,0.98813,0.98152
2017.12.01,21:00,0.97647,0.97663,0.97534,0.97561,04:00,0.98374,0.98400,0.98341,0.98397,0.98697,0.97343
2017.12.03,21:00,0.98150,0.98152,0.98085,0.98134,NaN,NaN,NaN,NaN,NaN,0.98236,0.97928
2017.12.04,21:00,0.98539,0.98552,0.98467,0.98476,04:00,0.98249,0.98253,0.98210,0.98233,0.98661,0.98106
2017.12.05,21:00,0.98736,0.98759,0.98693,0.98719,04:00,0.98439,0.98460,0.98411,0.98458,0.98867,0.98365
2017.12.06,21:00,0.98980,0.98999,0.98953,0.98972,04:00,0.98658,0.98696,0.98579,0.98602,0.99087,0.98543
2017.12.07,21:00,0.99421,0.99457,0.99414,0.99421,04:00,0.98934,0.98987,0.98921,0.98986,0.99467,0.98909
2017.12.08,21:00,0.99284,0.99291,0.99224,0.99254,04:00,0.99462,0.99536,0.99443,0.99524,0.99769,0.99224
2017.12.10,21:00,0.99375,0.99403,0.99368,0.99376,NaN,NaN,NaN,NaN,NaN,0.99403,0.99230
2017.12.11,21:00,0.99174,0.99203,0.99161,0.99170,04:00,0.99176,0.99201,0.99175,0.99197,0.99297,0.98965
2017.12.12,21:00,0.99115,0.99142,0.99085,0.99137,04:00,0.99173,0.99193,0.99158,0.99179,0.99350,0.98896
...,...,...,...,...,...,...,...,...,...,...,...,...
2018.02.06,21:00,0.93705,0.93743,0.93539,0.93584,04:00,0.93123,0.93241,0.93067,0.93217,0.93971,0.93059
2018.02.07,21:00,0.94368,0.94412,0.94241,0.94370,04:00,0.93531,0.93547,0.93444,0.93489,0.94536,0.93393
2018.02.08,21:00,0.93599,0.93635,0.93571,0.93591,04:00,0.94396,0.94514,0.94384,0.94457,0.94691,0.93476
2018.02.09,21:00,0.93998,0.93998,0.93913,0.93934,04:00,0.93761,0.93831,0.93749,0.93822,0.94080,0.93507
2018.02.11,21:00,0.93955,0.93968,0.93955,0.93956,NaN,NaN,NaN,NaN,NaN,0.94033,0.93910
2018.02.12,21:00,0.93903,0.93951,0.93887,0.93899,04:00,0.93791,0.93813,0.93762,0.93807,0.94008,0.93629
2018.02.13,21:00,0.93506,0.93514,0.93467,0.93467,04:00,0.93906,0.93917,0.93793,0.93831,0.93978,0.93218
2018.02.14,21:00,0.92898,0.92958,0.92889,0.92928,04:00,0.93073,0.93278,0.93068,0.93273,0.93734,0.92720
2018.02.15,21:00,0.92149,0.92222,0.92145,0.92188,04:00,0.92750,0.92815,0.92624,0.92810,0.92905,0.92095
2018.02.16,21:00,0.92763,0.92763,0.92685,0.92732,04:00,0.92065,0.92089,0.91895,0.91945,0.92868,0.91870
2018.02.18,21:00,0.92724,0.92735,0.92724,0.92735,NaN,NaN,NaN,NaN,NaN,0.92784,0.92633
2018.02.19,21:00,0.92878,0.92905,0.92839,0.92899,04:00,0.92745,0.92819,0.92732,0.92793,0.93191,0.92622
2018.02.20,21:00,0.93576,0.93630,0.93576,0.93602,04:00,0.93066,0.93098,0.93017,0.93060,0.93685,0.92889
2018.02.21,21:00,0.93828,0.93894,0.93765,0.93863,04:00,0.93716,0.93794,0.93666,0.93777,0.93959,0.93423
2018.02.22,21:00,0.93292,0.93317,0.93265,0.93273,04:00,0.93881,0.93943,0.93873,0.93937,0.94083,0.93215
2018.02.23,21:00,0.93667,0.93702,0.93585,0.93595,04:00,0.93439,0.93534,0.93424,0.93508,0.93733,0.93271
2018.02.25,21:00,0.93620,0.93698,0.93548,0.93698,NaN,NaN,NaN,NaN,NaN,0.93732,0.93548
2018.02.26,21:00,0.93806,0.93833,0.93759,0.93777,04:00,0.93443,0.93478,0.93424,0.93451,0.93904,0.93249
2018.02.27,21:00,0.93902,0.93930,0.93880,0.93884,04:00,0.93762,0.93801,0.93737,0.93774,0.94165,0.93576
2018.02.28,21:00,0.94432,0.94457,0.94394,0.94442,04:00,0.93987,0.94018,0.93965,0.93996,0.94576,0.93870
2018.03.01,21:00,0.94225,0.94225,0.94151,0.94161,04:00,0.94499,0.94544,0.94478,0.94515,0.94897,0.94095
2018.03.02,21:00,0.93714,0.93782,0.93700,0.93708,04:00,0.94015,0.94017,0.93967,0.94012,0.94238,0.93378
2018.03.04,21:00,0.93463,0.93693,0.93455,0.93624,NaN,NaN,NaN,NaN,NaN,0.93787,0.93452
2018.03.05,21:00,0.94010,0.94028,0.93969,0.93972,04:00,0.93600,0.93635,0.93599,0.93627,0.94075,0.93525
2018.03.06,21:00,0.94083,0.94088,0.93997,0.94055,04:00,0.93909,0.93963,0.93899,0.93959,0.94182,0.93591
2018.03.07,21:00,0.94304,0.94345,0.94271,0.94335,04:00,0.93719,0.93757,0.93681,0.93753,NaN,NaN
2018.03.08,21:00,0.95093,0.95116,0.95056,0.95091,04:00,0.94293,0.94339,0.94281,0.94326,NaN,NaN
2018.03.09,21:00,0.95104,0.95143,0.95103,0.95116,04:00,0.95195,0.95247,0.95173,0.95212,NaN,NaN
2018.03.11,21:00,0.95033,0.95120,0.94968,0.95102,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018.03.12,NaN,NaN,NaN,NaN,NaN,04:00,0.94982,0.94991,0.94921,0.94929,NaN,NaN

In [7]:
# Analytics
# Pseudo Code
#    if (Close 21 - Close 04) <= 0   // Bear Candle
#       return: Close 04 - DLow 
#    else if (Close 21 - Close 04 >= 0) // Bull Candle
#       return: DHigh - Close 04

# reshapedDataSetA_pd = reshapedDataSet_pd
# mDataTime21To04DailyHighBullBear_pd['BullBear'] = np.where (mDataTime21To04DailyHighBullBear_pd ['BullBear 21c-04c'] > 0, 'bull', 'bear')
# mDataTime21To04DailyHighBullBear_pd

In [24]:
mDataBullBear = reshapedDataSet_pd ['Close 21'] - reshapedDataSet_pd ['Close 04']
mDataBullBear_pd = pd.DataFrame (mDataBullBear, columns = ['BlBr Calc'])
mDataBullBear_pd

            BlBr Calc
2017.11.08    0.00142
2017.11.09   -0.00548
2017.11.10    0.00084
2017.11.12        NaN
2017.11.13   -0.00083
2017.11.14   -0.00716
2017.11.15   -0.00067
2017.11.16    0.00439
2017.11.17   -0.00410
2017.11.19        NaN
2017.11.20    0.00429
2017.11.21   -0.00163
2017.11.22   -0.00913
2017.11.23    0.00029
2017.11.24   -0.00245
2017.11.26        NaN
2017.11.27    0.00098
2017.11.28    0.00241
2017.11.29   -0.00046
2017.11.30   -0.00114
2017.12.01   -0.00836
2017.12.03        NaN
2017.12.04    0.00243
2017.12.05    0.00261
2017.12.06    0.00370
2017.12.07    0.00435
2017.12.08   -0.00270
2017.12.10        NaN
2017.12.11   -0.00027
2017.12.12   -0.00042
...               ...
2018.02.06    0.00367
2018.02.07    0.00881
2018.02.08   -0.00866
2018.02.09    0.00112
2018.02.11        NaN
2018.02.12    0.00092
2018.02.13   -0.00364
2018.02.14   -0.00345
2018.02.15   -0.00622
2018.02.16    0.00787
2018.02.18        NaN
2018.02.19    0.00106
2018.02.20    0.00542
2018.02.21    0.00086
2018.02.22   -0.00664
2018.02.23    0.00087
2018.02.25        NaN
2018.02.26    0.00326
2018.02.27    0.00110
2018.02.28    0.00446
2018.03.01   -0.00354
2018.03.02   -0.00304
2018.03.04        NaN
2018.03.05    0.00345
2018.03.06    0.00096
2018.03.07    0.00582
2018.03.08    0.00765
2018.03.09   -0.00096
2018.03.11        NaN
2018.03.12        NaN

[107 rows x 1 columns]

In [35]:
# Add Column BullBear
mDataBullBearResult = np.where (mDataBullBear_pd ['BlBr Calc'] > 0, 'bull', 'bear')
mDataBullBearResult_pd = pd.DataFrame (mDataBullBearResult, columns = ['Bull or Bear'])

mDataBullBearResult_pd

    Bull or Bear
0           bull
1           bear
2           bull
3           bear
4           bear
5           bear
6           bear
7           bull
8           bear
9           bear
10          bull
11          bear
12          bear
13          bull
14          bear
15          bear
16          bull
17          bull
18          bear
19          bear
20          bear
21          bear
22          bull
23          bull
24          bull
25          bull
26          bear
27          bear
28          bear
29          bear
..           ...
77          bull
78          bull
79          bear
80          bull
81          bear
82          bull
83          bear
84          bear
85          bear
86          bull
87          bear
88          bull
89          bull
90          bull
91          bear
92          bull
93          bear
94          bull
95          bull
96          bull
97          bear
98          bear
99          bear
100         bull
101         bull
102         bull
103         bull
104         bear
105         bear
106         bear

[107 rows x 1 columns]

In [37]:
mDataAnalysis = pd.concat([mDataBullBear_pd, mDataBullBearResult_pd], axis=1)
mDataAnalysis

            BlBr Calc Bull or Bear
0                 NaN         bull
1                 NaN         bear
2                 NaN         bull
3                 NaN         bear
4                 NaN         bear
5                 NaN         bear
6                 NaN         bear
7                 NaN         bull
8                 NaN         bear
9                 NaN         bear
10                NaN         bull
11                NaN         bear
12                NaN         bear
13                NaN         bull
14                NaN         bear
15                NaN         bear
16                NaN         bull
17                NaN         bull
18                NaN         bear
19                NaN         bear
20                NaN         bear
21                NaN         bear
22                NaN         bull
23                NaN         bull
24                NaN         bull
25                NaN         bull
26                NaN         bear
27                NaN         bear
28                NaN         bear
29                NaN         bear
...               ...          ...
2018.02.06    0.00367          NaN
2018.02.07    0.00881          NaN
2018.02.08   -0.00866          NaN
2018.02.09    0.00112          NaN
2018.02.11        NaN          NaN
2018.02.12    0.00092          NaN
2018.02.13   -0.00364          NaN
2018.02.14   -0.00345          NaN
2018.02.15   -0.00622          NaN
2018.02.16    0.00787          NaN
2018.02.18        NaN          NaN
2018.02.19    0.00106          NaN
2018.02.20    0.00542          NaN
2018.02.21    0.00086          NaN
2018.02.22   -0.00664          NaN
2018.02.23    0.00087          NaN
2018.02.25        NaN          NaN
2018.02.26    0.00326          NaN
2018.02.27    0.00110          NaN
2018.02.28    0.00446          NaN
2018.03.01   -0.00354          NaN
2018.03.02   -0.00304          NaN
2018.03.04        NaN          NaN
2018.03.05    0.00345          NaN
2018.03.06    0.00096          NaN
2018.03.07    0.00582          NaN
2018.03.08    0.00765          NaN
2018.03.09   -0.00096          NaN
2018.03.11        NaN          NaN
2018.03.12        NaN          NaN

[214 rows x 2 columns]

In [ ]:
# Pseudo Code for Column Result Calc
    # if BullBear == bull
        # dHigh - Close 04
    # else if Bull Bear = bear
        # dLow - Close 04
        
# Pseudo Code for Colume Result 
    # if BullBear >= 14.5 pips
        # return success
        
    # else if BullBear < 14.5 pips
        # return fail

In [ ]:
# Another Option: Separate Bull and Bear Result then count if 15 pips higher then count if success or fail
# Choose bull and bear result separately
mDataBull = mDataTime21To04DailyHighBullBear_pd[(mDataTime21To04DailyHighBullBear_pd['BullBear'] == 'bull')]
mDataBear = mDataTime21To04DailyHighBullBear_pd[(mDataTime21To04DailyHighBullBear_pd['BullBear'] == 'bear')]

In [ ]:
# creating dataframe bull and bear
mDataBull_pd = pd.DataFrame (mDataBull)
mDataBear_pd = pd.DataFrame (mDataBear)

In [ ]:
# Add Result Column for bull DataFrame
mDataBull_pd ['ResultBull'] = mDataBull_pd ['dHigh'] - mDataBull_pd ['Close 04'] 
mDataBull_pd

In [ ]:
# Add Result Column for bear Dataframe
mDataBear_pd ['ResultBear'] = mDataBear_pd ['Close 04'] - mDataBear_pd ['dLow'] 
mDataBear_pd