In [1]:
# Nostradamus One: NTS Framework for all pairs.
import pandas as pd
import numpy as np

In [2]:
hourlyFullUsdChf_pd = pd.read_csv('datasets/2018-05-02-UsdChfH1.csv')

In [3]:
mDataTime2100_pd = hourlyFullUsdChf_pd [(hourlyFullUsdChf_pd['Time'] == '21:00')]

In [4]:
mDataTime0400_pd = hourlyFullUsdChf_pd [(hourlyFullUsdChf_pd['Time'] == '04:00')]
mDataTime0400_pd.columns = ['T04', 'OO4','H04','L04','C04', 'V04']


mDataTime2100_pd = hourlyFullUsdChf_pd [(hourlyFullUsdChf_pd['Time'] == '21:00')]
mDataTime2100_pd.columns = ['T21', 'O21','H21','L21','C21', 'V21']

In [5]:
concat0421Table = pd.concat([mDataTime0400_pd, mDataTime2100_pd], axis=1)
concat0421Table

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

,T04,OO4,H04,L04,C04,V04,T21,O21,H21,L21,C21,V21
2017.11.08,04:00,0.99877,0.99881,0.99839,0.99854,707.0,21:00,0.99990,1.00031,0.99945,0.99996,1544.0
2017.11.09,04:00,0.99993,0.99998,0.99898,0.99907,1429.0,21:00,0.99416,0.99434,0.99359,0.99359,1479.0
2017.11.10,04:00,0.99447,0.99495,0.99432,0.99488,969.0,21:00,0.99571,0.99605,0.99519,0.99572,1286.0
2017.11.12,NaN,NaN,NaN,NaN,NaN,NaN,21:00,0.99637,0.99644,0.99547,0.99575,111.0
2017.11.13,04:00,0.99639,0.99699,0.99634,0.99694,672.0,21:00,0.99592,0.99620,0.99589,0.99611,971.0
2017.11.14,04:00,0.99647,0.99655,0.99619,0.99640,520.0,21:00,0.98946,0.98977,0.98908,0.98924,906.0
2017.11.15,04:00,0.98866,0.98890,0.98853,0.98889,902.0,21:00,0.98806,0.98853,0.98779,0.98822,1766.0
2017.11.16,04:00,0.98896,0.98971,0.98895,0.98949,1249.0,21:00,0.99391,0.99423,0.99338,0.99388,1911.0
2017.11.17,04:00,0.99163,0.99236,0.99139,0.99235,1872.0,21:00,0.98847,0.98929,0.98823,0.98825,1365.0
2017.11.19,NaN,NaN,NaN,NaN,NaN,NaN,21:00,0.98842,0.98881,0.98842,0.98872,37.0
2017.11.20,04:00,0.98849,0.98902,0.98839,0.98901,1332.0,21:00,0.99359,0.99360,0.99294,0.99330,1514.0
2017.11.21,04:00,0.99269,0.99311,0.99266,0.99294,466.0,21:00,0.99123,0.99160,0.99098,0.99131,1050.0
2017.11.22,04:00,0.99068,0.99073,0.99030,0.99057,1001.0,21:00,0.98187,0.98200,0.98139,0.98144,1705.0
2017.11.23,04:00,0.98146,0.98169,0.98133,0.98137,1097.0,21:00,0.98105,0.98190,0.98074,0.98166,2220.0
2017.11.24,04:00,0.98193,0.98205,0.98143,0.98174,719.0,21:00,0.97931,0.97972,0.97852,0.97929,3764.0
2017.11.26,NaN,NaN,NaN,NaN,NaN,NaN,21:00,0.97849,0.97976,0.97813,0.97917,240.0
2017.11.27,04:00,0.98070,0.98079,0.98020,0.98037,1065.0,21:00,0.98156,0.98188,0.98107,0.98135,1060.0
2017.11.28,04:00,0.98132,0.98162,0.98109,0.98140,1294.0,21:00,0.98436,0.98436,0.98317,0.98381,1556.0
2017.11.29,04:00,0.98402,0.98485,0.98395,0.98485,1233.0,21:00,0.98414,0.98450,0.98380,0.98439,1379.0
2017.11.30,04:00,0.98401,0.98452,0.98394,0.98452,994.0,21:00,0.98361,0.98364,0.98282,0.98338,1787.0
2017.12.01,04:00,0.98374,0.98400,0.98341,0.98397,1381.0,21:00,0.97647,0.97663,0.97534,0.97561,1217.0
2017.12.03,NaN,NaN,NaN,NaN,NaN,NaN,21:00,0.98150,0.98152,0.98085,0.98134,122.0
2017.12.04,04:00,0.98249,0.98253,0.98210,0.98233,1027.0,21:00,0.98539,0.98552,0.98467,0.98476,2010.0
2017.12.05,04:00,0.98439,0.98460,0.98411,0.98458,1160.0,21:00,0.98736,0.98759,0.98693,0.98719,1074.0
2017.12.06,04:00,0.98658,0.98696,0.98579,0.98602,1899.0,21:00,0.98980,0.98999,0.98953,0.98972,1230.0
2017.12.07,04:00,0.98934,0.98987,0.98921,0.98986,983.0,21:00,0.99421,0.99457,0.99414,0.99421,1268.0
2017.12.08,04:00,0.99462,0.99536,0.99443,0.99524,957.0,21:00,0.99284,0.99291,0.99224,0.99254,1363.0
2017.12.10,NaN,NaN,NaN,NaN,NaN,NaN,21:00,0.99375,0.99403,0.99368,0.99376,30.0
2017.12.11,04:00,0.99176,0.99201,0.99175,0.99197,868.0,21:00,0.99174,0.99203,0.99161,0.99170,1460.0
2017.12.12,04:00,0.99173,0.99193,0.99158,0.99179,800.0,21:00,0.99115,0.99142,0.99085,0.99137,1124.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2018.02.06,04:00,0.93123,0.93241,0.93067,0.93217,2509.0,21:00,0.93705,0.93743,0.93539,0.93584,1275.0
2018.02.07,04:00,0.93531,0.93547,0.93444,0.93489,1198.0,21:00,0.94368,0.94412,0.94241,0.94370,1381.0
2018.02.08,04:00,0.94396,0.94514,0.94384,0.94457,2119.0,21:00,0.93599,0.93635,0.93571,0.93591,1087.0
2018.02.09,04:00,0.93761,0.93831,0.93749,0.93822,1302.0,21:00,0.93998,0.93998,0.93913,0.93934,1403.0
2018.02.11,NaN,NaN,NaN,NaN,NaN,NaN,21:00,0.93955,0.93968,0.93955,0.93956,6.0
2018.02.12,04:00,0.93791,0.93813,0.93762,0.93807,1192.0,21:00,0.93903,0.93951,0.93887,0.93899,1197.0
2018.02.13,04:00,0.93906,0.93917,0.93793,0.93831,1309.0,21:00,0.93506,0.93514,0.93467,0.93467,794.0
2018.02.14,04:00,0.93073,0.93278,0.93068,0.93273,1791.0,21:00,0.92898,0.92958,0.92889,0.92928,1288.0
2018.02.15,04:00,0.92750,0.92815,0.92624,0.92810,1526.0,21:00,0.92149,0.92222,0.92145,0.92188,896.0
2018.02.16,04:00,0.92065,0.92089,0.91895,0.91945,2693.0,21:00,0.92763,0.92763,0.92685,0.92732,1091.0
2018.02.18,NaN,NaN,NaN,NaN,NaN,NaN,21:00,0.92724,0.92735,0.92724,0.92735,2.0
2018.02.19,04:00,0.92745,0.92819,0.92732,0.92793,1080.0,21:00,0.92878,0.92905,0.92839,0.92899,2069.0
2018.02.20,04:00,0.93066,0.93098,0.93017,0.93060,1028.0,21:00,0.93576,0.93630,0.93576,0.93602,928.0
2018.02.21,04:00,0.93716,0.93794,0.93666,0.93777,1379.0,21:00,0.93828,0.93894,0.93765,0.93863,1503.0
2018.02.22,04:00,0.93881,0.93943,0.93873,0.93937,1052.0,21:00,0.93292,0.93317,0.93265,0.93273,913.0
2018.02.23,04:00,0.93439,0.93534,0.93424,0.93508,1153.0,21:00,0.93667,0.93702,0.93585,0.93595,1361.0
2018.02.25,NaN,NaN,NaN,NaN,NaN,NaN,21:00,0.93620,0.93698,0.93548,0.93698,17.0
2018.02.26,04:00,0.93443,0.93478,0.93424,0.93451,1034.0,21:00,0.93806,0.93833,0.93759,0.93777,790.0
2018.02.27,04:00,0.93762,0.93801,0.93737,0.93774,914.0,21:00,0.93902,0.93930,0.93880,0.93884,749.0
2018.02.28,04:00,0.93987,0.94018,0.93965,0.93996,860.0,21:00,0.94432,0.94457,0.94394,0.94442,724.0
2018.03.01,04:00,0.94499,0.94544,0.94478,0.94515,1073.0,21:00,0.94225,0.94225,0.94151,0.94161,1790.0
2018.03.02,04:00,0.94015,0.94017,0.93967,0.94012,1536.0,21:00,0.93714,0.93782,0.93700,0.93708,1603.0
2018.03.04,NaN,NaN,NaN,NaN,NaN,NaN,21:00,0.93463,0.93693,0.93455,0.93624,234.0
2018.03.05,04:00,0.93600,0.93635,0.93599,0.93627,1510.0,21:00,0.94010,0.94028,0.93969,0.93972,1347.0
2018.03.06,04:00,0.93909,0.93963,0.93899,0.93959,1976.0,21:00,0.94083,0.94088,0.93997,0.94055,1395.0
2018.03.07,04:00,0.93719,0.93757,0.93681,0.93753,1651.0,21:00,0.94304,0.94345,0.94271,0.94335,1718.0
2018.03.08,04:00,0.94293,0.94339,0.94281,0.94326,1380.0,21:00,0.95093,0.95116,0.95056,0.95091,1765.0
2018.03.09,04:00,0.95195,0.95247,0.95173,0.95212,1964.0,21:00,0.95104,0.95143,0.95103,0.95116,1295.0
2018.03.11,NaN,NaN,NaN,NaN,NaN,NaN,21:00,0.95033,0.95120,0.94968,0.95102,375.0
2018.03.12,04:00,0.94982,0.94991,0.94921,0.94929,1724.0,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
mDataBullBear = concat0421Table ['C21'] - concat0421Table ['C04']
# mDataBullBear

mDataBullBear_pd = pd.DataFrame (mDataBullBear, columns = ['BlBr Calc'])
# mDataBullBear_pd

concat0421BlBrTable_pd = pd.concat([concat0421Table, mDataBullBear_pd], axis=1)
# concat0421BlBrTable_pd

mDataBullBearResult = np.where (concat0421BlBrTable_pd ['BlBr Calc'] > 0, 'bull', 'bear')
mDataBullBearResult_pd = pd.DataFrame (mDataBullBearResult, columns = ['Bull or Bear'])

# mDataBullBearResult_pd 
concat0421BlBrResTable_pd = pd.concat([concat0421BlBrTable_pd, mDataBullBearResult_pd], axis=1)
concat0421BlBrResTable_pd

,T04,OO4,H04,L04,C04,V04,T21,O21,H21,L21,C21,V21,BlBr Calc,Bull or Bear
2017.11.08,04:00,0.99877,0.99881,0.99839,0.99854,707.0,21:00,0.99990,1.00031,0.99945,0.99996,1544.0,0.00142,NaN
2017.11.09,04:00,0.99993,0.99998,0.99898,0.99907,1429.0,21:00,0.99416,0.99434,0.99359,0.99359,1479.0,-0.00548,NaN
2017.11.10,04:00,0.99447,0.99495,0.99432,0.99488,969.0,21:00,0.99571,0.99605,0.99519,0.99572,1286.0,0.00084,NaN
2017.11.12,NaN,NaN,NaN,NaN,NaN,NaN,21:00,0.99637,0.99644,0.99547,0.99575,111.0,NaN,NaN
2017.11.13,04:00,0.99639,0.99699,0.99634,0.99694,672.0,21:00,0.99592,0.99620,0.99589,0.99611,971.0,-0.00083,NaN
2017.11.14,04:00,0.99647,0.99655,0.99619,0.99640,520.0,21:00,0.98946,0.98977,0.98908,0.98924,906.0,-0.00716,NaN
2017.11.15,04:00,0.98866,0.98890,0.98853,0.98889,902.0,21:00,0.98806,0.98853,0.98779,0.98822,1766.0,-0.00067,NaN
2017.11.16,04:00,0.98896,0.98971,0.98895,0.98949,1249.0,21:00,0.99391,0.99423,0.99338,0.99388,1911.0,0.00439,NaN
2017.11.17,04:00,0.99163,0.99236,0.99139,0.99235,1872.0,21:00,0.98847,0.98929,0.98823,0.98825,1365.0,-0.00410,NaN
2017.11.19,NaN,NaN,NaN,NaN,NaN,NaN,21:00,0.98842,0.98881,0.98842,0.98872,37.0,NaN,NaN
2017.11.20,04:00,0.98849,0.98902,0.98839,0.98901,1332.0,21:00,0.99359,0.99360,0.99294,0.99330,1514.0,0.00429,NaN
2017.11.21,04:00,0.99269,0.99311,0.99266,0.99294,466.0,21:00,0.99123,0.99160,0.99098,0.99131,1050.0,-0.00163,NaN
2017.11.22,04:00,0.99068,0.99073,0.99030,0.99057,1001.0,21:00,0.98187,0.98200,0.98139,0.98144,1705.0,-0.00913,NaN
2017.11.23,04:00,0.98146,0.98169,0.98133,0.98137,1097.0,21:00,0.98105,0.98190,0.98074,0.98166,2220.0,0.00029,NaN
2017.11.24,04:00,0.98193,0.98205,0.98143,0.98174,719.0,21:00,0.97931,0.97972,0.97852,0.97929,3764.0,-0.00245,NaN
2017.11.26,NaN,NaN,NaN,NaN,NaN,NaN,21:00,0.97849,0.97976,0.97813,0.97917,240.0,NaN,NaN
2017.11.27,04:00,0.98070,0.98079,0.98020,0.98037,1065.0,21:00,0.98156,0.98188,0.98107,0.98135,1060.0,0.00098,NaN
2017.11.28,04:00,0.98132,0.98162,0.98109,0.98140,1294.0,21:00,0.98436,0.98436,0.98317,0.98381,1556.0,0.00241,NaN
2017.11.29,04:00,0.98402,0.98485,0.98395,0.98485,1233.0,21:00,0.98414,0.98450,0.98380,0.98439,1379.0,-0.00046,NaN
2017.11.30,04:00,0.98401,0.98452,0.98394,0.98452,994.0,21:00,0.98361,0.98364,0.98282,0.98338,1787.0,-0.00114,NaN
2017.12.01,04:00,0.98374,0.98400,0.98341,0.98397,1381.0,21:00,0.97647,0.97663,0.97534,0.97561,1217.0,-0.00836,NaN
2017.12.03,NaN,NaN,NaN,NaN,NaN,NaN,21:00,0.98150,0.98152,0.98085,0.98134,122.0,NaN,NaN
2017.12.04,04:00,0.98249,0.98253,0.98210,0.98233,1027.0,21:00,0.98539,0.98552,0.98467,0.98476,2010.0,0.00243,NaN
2017.12.05,04:00,0.98439,0.98460,0.98411,0.98458,1160.0,21:00,0.98736,0.98759,0.98693,0.98719,1074.0,0.00261,NaN
2017.12.06,04:00,0.98658,0.98696,0.98579,0.98602,1899.0,21:00,0.98980,0.98999,0.98953,0.98972,1230.0,0.00370,NaN
2017.12.07,04:00,0.98934,0.98987,0.98921,0.98986,983.0,21:00,0.99421,0.99457,0.99414,0.99421,1268.0,0.00435,NaN
2017.12.08,04:00,0.99462,0.99536,0.99443,0.99524,957.0,21:00,0.99284,0.99291,0.99224,0.99254,1363.0,-0.00270,NaN
2017.12.10,NaN,NaN,NaN,NaN,NaN,NaN,21:00,0.99375,0.99403,0.99368,0.99376,30.0,NaN,NaN
2017.12.11,04:00,0.99176,0.99201,0.99175,0.99197,868.0,21:00,0.99174,0.99203,0.99161,0.99170,1460.0,-0.00027,NaN
2017.12.12,04:00,0.99173,0.99193,0.99158,0.99179,800.0,21:00,0.99115,0.99142,0.99085,0.99137,1124.0,-0.00042,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bull
73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bull
74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bear
75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bull
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bear
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bull
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bear
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bear
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bear
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bull
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bear
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bull
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bull
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bull
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bear
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bull
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bear
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bull
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bull
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bull
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bear
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bear
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bear
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bull
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bull
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bull
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bull
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bear
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bear
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bear

In [7]:
mDataBullBearResult_pd

    Bull or Bear
0           bull
1           bear
2           bull
3           bear
4           bear
5           bear
6           bear
7           bull
8           bear
9           bear
10          bull
11          bear
12          bear
13          bull
14          bear
15          bear
16          bull
17          bull
18          bear
19          bear
20          bear
21          bear
22          bull
23          bull
24          bull
25          bull
26          bear
27          bear
28          bear
29          bear
..           ...
72          bull
73          bull
74          bear
75          bull
76          bear
77          bull
78          bear
79          bear
80          bear
81          bull
82          bear
83          bull
84          bull
85          bull
86          bear
87          bull
88          bear
89          bull
90          bull
91          bull
92          bear
93          bear
94          bear
95          bull
96          bull
97          bull
98          bull
99          bear
100         bear
101         bear

[102 rows x 1 columns]

In [8]:
dailyFullUsdChfD1_pd = pd.read_csv('datasets/2018-05-02-UsdChfD1.csv')
dailyFullUsdChfD1_pd
dailyFullUsdChfD1_pd.columns = ['0', '0','DHigh','DLow','0', '0']
dailyFullUsdChfD1_pd

                0        0    DHigh     DLow        0      0
2017.11.08  00:00  0.99826  1.00056  0.99803  0.99978  40766
2017.11.09  00:00  0.99978  1.00168  0.99209  0.99388  53577
2017.11.10  00:00  0.99385  0.99676  0.99246  0.99572  39826
2017.11.12  00:00  0.99637  0.99660  0.99520  0.99655   2831
2017.11.13  00:00  0.99655  0.99861  0.99359  0.99639  35152
2017.11.14  00:00  0.99640  0.99698  0.98811  0.98965  33654
2017.11.15  00:00  0.98965  0.99102  0.98456  0.98842  53039
2017.11.16  00:00  0.98843  0.99446  0.98819  0.99342  47095
2017.11.17  00:00  0.99343  0.99350  0.98753  0.98825  49287
2017.11.19  00:00  0.98842  0.98999  0.98796  0.98945   4577
2017.11.20  00:00  0.98945  0.99364  0.98781  0.99321  51506
2017.11.21  00:00  0.99321  0.99460  0.98984  0.99048  36945
2017.11.22  00:00  0.99048  0.99101  0.98081  0.98208  50342
2017.11.23  00:00  0.98207  0.98272  0.97944  0.98158  41805
2017.11.24  00:00  0.98158  0.98264  0.97849  0.97929  38931
2017.11.26  00:00  0.97849  0.98044  0.97813  0.98029   3054
2017.11.27  00:00  0.98028  0.98188  0.97779  0.98124  45906
2017.11.28  00:00  0.98124  0.98519  0.98017  0.98402  54226
2017.11.29  00:00  0.98402  0.98690  0.98180  0.98443  53029
2017.11.30  00:00  0.98444  0.98813  0.98152  0.98393  55224
2017.12.01  00:00  0.98392  0.98697  0.97343  0.97561  61930
2017.12.03  00:00  0.98150  0.98236  0.97928  0.98227   3130
2017.12.04  00:00  0.98228  0.98661  0.98106  0.98459  53051
2017.12.05  00:00  0.98460  0.98867  0.98365  0.98745  50014
2017.12.06  00:00  0.98745  0.99087  0.98543  0.98924  49450
2017.12.07  00:00  0.98925  0.99467  0.98909  0.99464  45282
2017.12.08  00:00  0.99465  0.99769  0.99224  0.99254  43455
2017.12.10  00:00  0.99375  0.99403  0.99230  0.99288   1730
2017.12.11  00:00  0.99287  0.99297  0.98965  0.99133  41092
2017.12.12  00:00  0.99134  0.99350  0.98896  0.99141  40526
...           ...      ...      ...      ...      ...    ...
2018.01.31  00:00  0.93459  0.93583  0.92887  0.93126  53039
2018.02.01  00:00  0.93125  0.93410  0.92554  0.92596  50556
2018.02.02  00:00  0.92597  0.93357  0.92575  0.93087  51698
2018.02.04  00:00  0.93201  0.93268  0.93075  0.93120   3470
2018.02.05  00:00  0.93121  0.93756  0.92866  0.93130  53018
2018.02.06  00:00  0.93129  0.93971  0.93059  0.93611  69602
2018.02.07  00:00  0.93611  0.94536  0.93393  0.94247  51687
2018.02.08  00:00  0.94247  0.94691  0.93476  0.93507  59909
2018.02.09  00:00  0.93507  0.94080  0.93507  0.93934  55884
2018.02.11  00:00  0.93955  0.94033  0.93910  0.93963   2122
2018.02.12  00:00  0.93963  0.94008  0.93629  0.93873  37930
2018.02.13  00:00  0.93874  0.93978  0.93218  0.93524  38584
2018.02.14  00:00  0.93524  0.93734  0.92720  0.92747  48461
2018.02.15  00:00  0.92748  0.92905  0.92095  0.92220  45563
2018.02.16  00:00  0.92219  0.92868  0.91870  0.92732  42314
2018.02.18  00:00  0.92724  0.92784  0.92633  0.92721   1462
2018.02.19  00:00  0.92720  0.93191  0.92622  0.92930  32211
2018.02.20  00:00  0.92931  0.93685  0.92889  0.93621  37329
2018.02.21  00:00  0.93624  0.93959  0.93423  0.93866  42810
2018.02.22  00:00  0.93868  0.94083  0.93215  0.93313  38470
2018.02.23  00:00  0.93312  0.93733  0.93271  0.93595  33139
2018.02.25  00:00  0.93620  0.93732  0.93548  0.93712   2199
2018.02.26  00:00  0.93713  0.93904  0.93249  0.93861  34404
2018.02.27  00:00  0.93862  0.94165  0.93576  0.93943  40839
2018.02.28  00:00  0.93944  0.94576  0.93870  0.94443  40254
2018.03.01  00:00  0.94444  0.94897  0.94095  0.94144  60266
2018.03.02  00:00  0.94142  0.94238  0.93378  0.93708  69123
2018.03.04  00:00  0.93463  0.93787  0.93452  0.93706   4385
2018.03.05  00:00  0.93706  0.94075  0.93525  0.93975  67828
2018.03.06  00:00  0.93976  0.94182  0.93591  0.93796  44379

[102 rows x 6 columns]

In [9]:
# If Buy of If Sell 
mDataPositionBuy = dailyFullUsdChfD1_pd ['DHigh'] - concat0421Table ['C04']
mDataPositionBuy_pd = pd.DataFrame (mDataPositionBuy, columns = ['If Buy'])
# Print
# DataPositionBuy_pd

mDataPositionSell = concat0421Table ['C04'] - dailyFullUsdChfD1_pd ['DLow']
mDataPositionSell_pd = pd.DataFrame (mDataPositionSell, columns = ['If Sell'])
# Print 
# mDataPositionSell_pd 

concatIfBuySell_pd = pd.concat([mDataPositionBuy_pd, mDataPositionSell_pd], axis=1)
# Print
# concatIfBuySell_pd

# Convert to Numpy
concatIfBuySell_np = concatIfBuySell_pd.values
# concatIfBuySell_pd

mDataBullBearResult_np = mDataBullBearResult_pd.values
# Print
# mDataBullBearResult_pd

concatIfBuySell_pd = concatIfBuySell_pd.reset_index(drop=True)
concatIfBuySell_pd

concatIfBuySellBlBrRes_pd = pd.concat([concatIfBuySell_pd, mDataBullBearResult_pd], axis=1)
# Print
# concatIfBuySellBlBrRes_pd

# Assign rename to more readable variable
summaryIfBuySellBullBearResult_pd = concatIfBuySellBlBrRes_pd.dropna()

# Print
summaryIfBuySellBullBearResult_pd

      If Buy  If Sell Bull or Bear
0    0.00202  0.00051         bull
1    0.00261  0.00698         bear
2    0.00188  0.00242         bull
4    0.00167  0.00335         bear
5    0.00058  0.00829         bear
6    0.00213  0.00433         bear
7    0.00497  0.00130         bull
8    0.00115  0.00482         bear
10   0.00463  0.00120         bull
11   0.00166  0.00310         bear
12   0.00044  0.00976         bear
13   0.00135  0.00193         bull
14   0.00090  0.00325         bear
16   0.00151  0.00258         bull
17   0.00379  0.00123         bull
18   0.00205  0.00305         bear
19   0.00361  0.00300         bear
20   0.00300  0.01054         bear
22   0.00428  0.00127         bull
23   0.00409  0.00093         bull
24   0.00485  0.00059         bull
25   0.00481  0.00077         bull
26   0.00245  0.00300         bear
28   0.00100  0.00232         bear
29   0.00171  0.00283         bear
30   0.00248  0.00611         bear
31   0.00573  0.00069         bull
32   0.00475  0.00133         bull
34   0.00128  0.00646         bear
35   0.00228  0.00213         bear
..       ...      ...          ...
66   0.00265  0.01228         bear
67   0.00329  0.01443         bear
68   0.00269  0.00744         bear
70   0.00268  0.00251         bear
71   0.00175  0.00657         bull
72   0.00201  0.00495         bull
73   0.00287  0.00569         bull
74   0.00653  0.00129         bear
76   0.00699  0.00191         bear
77   0.00754  0.00158         bull
78   0.01047  0.00096         bear
79   0.00234  0.00981         bear
80   0.00258  0.00315         bear
82   0.00201  0.00178         bear
83   0.00147  0.00613         bull
84   0.00461  0.00553         bull
85   0.00095  0.00715         bull
86   0.00923  0.00075         bear
88   0.00398  0.00171         bear
89   0.00625  0.00171         bull
90   0.00182  0.00354         bull
91   0.00146  0.00722         bull
92   0.00225  0.00237         bear
94   0.00453  0.00202         bear
95   0.00391  0.00198         bull
96   0.00580  0.00126         bull
97   0.00382  0.00420         bull
98   0.00226  0.00634         bull
100  0.00448  0.00102         bear
101  0.00223  0.00368         bear

[81 rows x 3 columns]

In [10]:
# ** Capture all bull and capture all bear

# Bull
summaryBuyEntry_pd = summaryIfBuySellBullBearResult_pd[(summaryIfBuySellBullBearResult_pd['Bull or Bear'] == 'bull')]

# Print
# summaryBuyEntry_pd

# Bear
summarySellEntry_pd = summaryIfBuySellBullBearResult_pd[(summaryIfBuySellBullBearResult_pd['Bull or Bear'] == 'bear')]

# Print

In [11]:
BuyPosSubResult = np.where (summaryBuyEntry_pd ['If Buy'] > 0.000500, 'Success', 'Fail')
BuyPosSubResult_pd = pd.DataFrame (BuyPosSubResult, columns = ['Buy Result'])
BuyPosSubResult_pd  

# concatIfBuySellBlBrRes_pd

   Buy Result
0     Success
1     Success
2     Success
3     Success
4     Success
5     Success
6     Success
7     Success
8     Success
9     Success
10    Success
11    Success
12    Success
13    Success
14    Success
15       Fail
16    Success
17       Fail
18    Success
19    Success
20    Success
21    Success
22    Success
23    Success
24    Success
25    Success
26    Success
27    Success
28    Success
29    Success
30    Success
31    Success
32    Success
33    Success
34    Success

In [12]:
# Convert To Numpy 
BuyPosSubResult_np = BuyPosSubResult_pd.values

# Test count success 
(BuyPosSubResult_np == 'Success').sum() 

# Count Contents
countResultForBuy = len(BuyPosSubResult_np)
countSuccessResultBuy = (BuyPosSubResult_np == 'Success').sum() 

WinRateForBuy = countSuccessResultBuy / countResultForBuy
WinRateForBuy
# countSuccessResultBuy

0.9428571428571428

In [13]:
SellPosSubResult = np.where (summarySellEntry_pd ['If Sell'] > 0.000500, 'Success', 'Fail')
SellPosSubResult_pd = pd.DataFrame (SellPosSubResult, columns = ['Sell Result'])
SellPosSubResult_pd  

# Convert To Numpy
SellPosSubResult_np = SellPosSubResult_pd.values
(SellPosSubResult_np == 'Success').sum()

# Count Contents
countResultForSell = len(SellPosSubResult_np)
countSuccessResultSell = (SellPosSubResult_np == 'Success').sum() 

WinRateForSell = countSuccessResultSell / countResultForSell
WinRateForSell

# Note: Needs to drop the NaN within the column.

0.9782608695652174

In [14]:
SellPosSubResult_pd

   Sell Result
0      Success
1      Success
2      Success
3      Success
4      Success
5      Success
6      Success
7      Success
8      Success
9      Success
10     Success
11     Success
12     Success
13     Success
14     Success
15     Success
16     Success
17     Success
18     Success
19     Success
20        Fail
21     Success
22     Success
23     Success
24     Success
25     Success
26     Success
27     Success
28     Success
29     Success
30     Success
31     Success
32     Success
33     Success
34     Success
35     Success
36     Success
37     Success
38     Success
39     Success
40     Success
41     Success
42     Success
43     Success
44     Success
45     Success